.editor {
    display: flex;
    flex-direction: row;
}

.editor .image-area {
    flex: 10;
    overflow: scroll;
}

.editor .shapes-info-area {
    flex: 1;
    flex-basis: 200px;
    border-left: 1px solid #777;
    min-height: 100vh;
    /*min-width: 700px;*/
    margin-left: 10px;
}

.editor .shapes-info-area {
}

