.columns {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex: 1;
}

.column:first-child {
    margin-right: 10px;
    padding-right: 10px;
}

.column .content-block {
    width: auto;
}

.column.border {
    border-right: 1px solid #009AA6;
    margin-right: 20px;
    padding-right: 20px;
}