.page-content .page-title-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-content .page-meta-block {
    display: flex;
    color: #888;
    font-size: 12px;
}

.page-content .view-on a {
    margin-left: 20px;
    color: #888
}

.page-content .page-title {
    font-size: 36px;
}

.page-content .last-update-time {
    color: #888;
}

.page-content .section-title {
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 20px;

    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.page-content h2 {
    font-size: 21px;
    color: #000;

    margin-top: 20px;
    margin-bottom: 15px;
}

.page-content h3 {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 15px;
}

