.list-item .paragraph {
    margin-bottom: 10px;
}

.paragraph {
    margin-bottom: 16px;
}

.paragraph.attention {
    display: flex;
    align-items: baseline;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 8px 0 8px 16px;
}

.paragraph.attention .icon-part {
    margin-right: 15px;
}

.paragraph.attention .icon-part .icon {
    font-size: 16px;
    line-height: 18px;
}

.paragraph.attention .icon-part .label-message {
    margin-left: 10px;
    font-size: 18px;
}

.paragraph.attention .message-part {
    flex: 1;
    padding-bottom: 3px;
    padding-right: 10px;
}

.paragraph.attention.note {
    border-left: 3px solid var(--mdoc-brand-primary-color);
    background: #009ba615;
}

.paragraph.attention.note .icon-part {
    color: var(--mdoc-brand-primary-color);
}

.paragraph.attention.warning {
    border-left: 3px solid #f0ad4e;
    background: #f0ac4e15;
}

.paragraph.attention.warning .icon-part {
    color: #f0ad4e;
}

.paragraph.attention.question {
    border-left: 3px solid #59a65a;
    background: #59a65a15
}

.paragraph.attention.question .icon-part {
    color: #59a65a;
}

.paragraph.attention.avoid {
    border-left: 3px solid #d9534f;
    background: #d9544f18
}

.paragraph.attention.avoid .icon-part {
    color: #d9534f;
}
