.section-title,
.empty-section-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--mdoc-section-title-color);

    padding-bottom: 5px;
    margin-top: 55px;
    margin-bottom: 20px;
}

.empty-section-title {
    margin-top: 40px;
    margin-bottom: 0;
}

.section-title .icon {
    font-size: 18px;
    margin-left: 10px;
    display: none;
}

.section-title:hover .icon {
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}
