.section {
    font-size: var(--mdoc-regular-text-size);
}

.section h2 {
    font-size: 21px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 15px;
}

.section h3 {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 15px;
}