.section-title {
    font-size: 22px;
    padding-bottom: 5px;
    margin-top: 55px;
    margin-bottom: 20px;

    color: var(--mdoc-black);
    font-weight: bold;
}

.section-title .icon {
    font-size: 18px;
    margin-left: 10px;
    display: none;
}

.section-title:hover .icon {
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}
