.section {
    margin-top: 55px;
    font-size: 16px;
}

.section .section-title {
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 20px;

    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.section .section-title .icon {
    font-size: 18px;
    margin-left: 10px;
    display: none;
}

.section .section-title:hover .icon {
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

