.snippet {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.snippet pre {
    border: none;
    background: none;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 700px;
}

.wide-screen pre {
    max-width: 100%;
}

.snippet.__recently-modified {
    margin-left: auto;
}