.snippet {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.snippet pre {
    border: none;
    background: none;
    margin: 20px 0;
    padding: 0 10px;
    max-width: 700px;
    font-size: 13px;
    line-height: 18px;
}

pre code {
    border: none;
}

code {
    border: none;
    background-color: #fff;
    color:#4b4f54;
    font-size: 14px;
}

.wide-screen pre {
    max-width: 100%;
}

.snippet.__recently-modified {
    margin-left: auto;
}