h2 {
    font-size: 22px;
    font-weight: bold;
    color: var(--mdoc-section-h2-color);
    margin-top: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--mdoc-section-h3-color);
    margin-top: 25px;
    margin-bottom: 15px;
}

h4 {
    font-size: 16px;
    font-weight: 800;
    color: var(--mdoc-section-h4-color);
    margin-top: 20px;
    margin-bottom: 15px;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--mdoc-section-h5-color);
    margin-top: 20px;
    margin-bottom: 15px;
}

h6 {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--mdoc-section-h6-color);
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 .icon {
    font-size: 16px;
}

h3 .icon {
    font-size: 14px;
}

h4 .icon {
    font-size: 14px;
}

h5 .icon {
    font-size: 11px;
}

h6 .icon {
    font-size: 10px;
}

h2 .icon,
h3 .icon,
h4 .icon,
h5 .icon,
h6 .icon {
    margin-left: 10px;
    display: none;
}

h2:hover .icon,
h3:hover .icon,
h4:hover .icon,
h5:hover .icon,
h6:hover .icon {
    display: inline-block;
}
