.preview-change-indicator {
    animation-name: preview-change-keyframes;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes preview-change-keyframes {
    0% {background-color: rgba(38, 110, 164, 0)}
    50% {background-color: rgba(38, 110, 164, 0.5)}
    100% {background-color: rgba(38, 110, 164, 0)}
}