.simple-table {
    margin: 20px auto;
}

.simple-table td .content-block {
    width: auto;
}

.simple-table .ui.table {
    background: var(--mdoc-table-body-background-color);
    border: 1px solid var(--mdoc-table-border-color);
    color: var(--mdoc-table-text-color);
}

.simple-table .ui.table thead th {
    background: var(--mdoc-table-header-background-color);
    color: var(--mdoc-table-text-color);
}

.simple-table .ui.celled.table tr td {
    border-left: 1px solid var(--mdoc-table-border-color);
    border-top: 1px solid var(--mdoc-table-border-color);
}

.simple-table .table > thead > tr > th {
    border-bottom: none;
}

.simple-table .middle-vertical-lines-only thead th {
    padding: 5px 20px;
    border-right: solid 1px var(--mdoc-table-border-color);
    vertical-align: top;
}

.simple-table .middle-vertical-lines-only thead th:last-child {
    border-right: none;
}

.simple-table .middle-vertical-lines-only tbody td {
    padding: 5px 20px;

    border-right: solid 1px var(--mdoc-table-border-color);
    vertical-align: top;
}

.simple-table .no-vertical-padding tbody td {
    padding-top: 0;
    padding-bottom: 0;

    border-right: solid 1px var(--mdoc-table-border-color);
    vertical-align: top;
}

.simple-table .middle-vertical-lines-only tbody td:last-child {
    border-right: none;
}

.simple-table .ui.celled.table tr th {
    border-left: 1px solid var(--mdoc-table-border-color);
}