.toc-settings {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    flex: 1;

    width: var(--mdoc-toc-panel-width);
    overflow-y: hidden;

    border-right: 1px solid var(--mdoc-toc-panel-border-color);
    background-color: var(--mdoc-toc-panel-background-color);

    z-index: 2;

    transition: max-height 0.25s ease-in-out;
}

.toc-settings.active {
}

.toc-settings .toc-section:first-child {
    margin-bottom: 10px;
}

.toc-settings::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    display: none;
}

.toc-settings:hover::-webkit-scrollbar {
    display: block;
}

.toc-settings::-webkit-scrollbar-thumb {
    background: var(--mdoc-toc-panel-border-color);
}

.toc-settings::-webkit-scrollbar-track {
    background: 0;
}
