.search-popup .overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(150, 150, 150, 0.5)
}

.search-popup .popup-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    max-height: calc(100vh - 100px);
    z-index: 1001;
}

.search-popup.visible-toc .popup-panel {
    right: 0;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
}

.search-popup .toc-and-preview {
    flex-direction: row;
    display: flex;
    height: 100%;
    border: 1px solid #aaa;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(255, 255, 255, 1)
}

.search-popup .search-toc-panel {
    flex: 0 0 300px;
    border-right: 1px solid #ccc;
    overflow: hidden;
}

.search-popup .search-preview-panel {
    flex: 1;
    padding: 10px;
    overflow: hidden;
}

.search-popup .search-box input {
    padding: 15px;
    width: 100%;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.search-popup.with-results .search-box input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search-toc-items {
}

.search-toc-item {
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.search-toc-item.selected {
    background: #009AA6;
    color: white;
}

.search-toc-page-title {
    color: #aaa;
    flex: 1;
}

.selected .search-toc-page-title {
    color: #fff;
}


.search-toc-page-section-title {
    padding-left: 10px;
    flex: 1;
}

.search-toc-section-title {
    font-size: 10px;
    margin-left: auto;
}