.idea
.vscode
/**/.settings
/**/.mvn
.classpath
.project
target
node_modules
znai-reactjs/build
*.iml
.vertx
docs-build
*.DS_Store
dependency-reduced-pom.xml
npm-debug.log
todo.md
local-overrides
webtau.report.html
.webtau-cache
venv
doc-artifacts