language: java
cache:
  directories:
  - $HOME/.m2
  - $HOME/.npm
  - node_modules
dist: xenial
services:
  - xvfb
addons:
  chrome: stable
  apt:
    packages:
      - graphviz
script: mvn -B install
