.tabs-area {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}

.tabs-content {
    margin: 20px 0;
}

.tabs-names-area {
    border-bottom: 2px solid #dddddd;
}

.tabs-names {
    margin-bottom: -2px;
}

.tab-name {
    padding: 12px 16px;
    display: inline-block;
}

.tab-name:hover {
    cursor: pointer;
}

.tab-name.active {
    padding: 12px 16px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid #888888;
}

.tabs-area .snippet {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.tabs-area .snippet-container {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.tabs-area .snippet pre {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.tabs-area .snippet-container + .paragraph {
    margin-top: 20px;
}
