.tabs-area {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--mdoc-snippets-outer-border-color);
}

.tabs-content {
    margin: 20px 0;
}

.tabs-names-area {
    border-bottom: 1px solid var(--mdoc-snippets-outer-border-color);
}

.tabs-names {
    margin-bottom: -2px;
}

.tab-name {
    padding: 12px 16px;
    display: inline-block;
}

.tab-name:hover {
    cursor: pointer;
}

.tab-name.active {
    padding: 12px 16px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 3px solid #888888;
}

.tabs-area .snippet-container + .paragraph {
    margin-top: 20px;
}

.tabs-area .snippet-container .snippet,
.tabs-area .snippet-container.wide-screen {
    margin-top: 0;
    margin-bottom: 0;
}