<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<title>Znai: Columns</title>
<!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body class="znai-theme theme-znai-dark">
<script>(function() {
    var themeNameKey = 'znaiTheme';
    var darkThemeName = 'znai-dark';
    var lightThemeName = 'default';

    var znaiTheme = {
        changeHandlers: [],
        addChangeHandler(handler) {
            this.changeHandlers.push(handler);
        },
        removeChangeHandler(handler) {
            var idx = this.changeHandlers.indexOf(handler);
            this.changeHandlers.splice(idx, 1);
        },
        set(name) {
            this.name = name;
            document.body.className = 'znai-theme theme-' + name;

            var idx = 0;
            var len = this.changeHandlers.length;
            for (; idx < len; idx++) {
                this.changeHandlers[idx](name);
            }
        },
        setExplicitly(name) {
            storeThemeName(name);
            this.set(name);
        },
        setExplicitlyIfNotSetAlready(name) {
            const themeName = getStoredThemeName();
            if (themeName) {
                return
            }

            this.setExplicitly(name)
        },
        toggle() {
            this.setExplicitly(this.name === lightThemeName ? darkThemeName : lightThemeName)
        }
    };

    var mediaThemeName = setLightMatchMediaListenerAndGetThemeName()
    var themeName = getStoredThemeName() || mediaThemeName;
    znaiTheme.set(themeName);

    window.znaiTheme = znaiTheme;

    function getStoredThemeName() {
        return localStorage.getItem(themeNameKey);
    }

    function storeThemeName(name) {
        return localStorage.setItem(themeNameKey, name);
    }

    function setLightMatchMediaListenerAndGetThemeName() {
        if (!window.matchMedia) {
            return darkThemeName;
        }

        var lightQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightQuery.addListener(function (e) {
            const newThemeName = e.matches ? lightThemeName : darkThemeName;
            znaiTheme.setExplicitly(newThemeName);
        });

        return lightQuery.matches ? lightThemeName : darkThemeName;
    }
})()</script>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section id="page-content" style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>Information Layout</h1></header>
<p>Use plugin to render content in two columns Before and after transition Action and its result Input and output Result comparison columns</p>
</article>

<article>
<header><h1>Two Columns</h1></header>
<p>To define two columns layout use fenced code block and and labels this content goes to the left and can span multiple lines this content goes to the right and can span multiple lines left right ```columns left this content goes to the left and can span multiple lines right this content goes to the right and can span multiple lines ```</p>
</article>

<article>
<header><h1>Three Columns</h1></header>
<p>To define three columns layout use fenced code block and and labels Pros Item One Undecided Item Two Item Three Cons Item Four left middle right ```columns left ### Pros style api * Item One middle ### Undecided style api * Item Two * Item Three right ### Cons style api * Item Four ```</p>
</article>

<article>
<header><h1>Sizes</h1></header>
<p>Size can be specified for a column as a By default both portions are assigned a value of If you specify right column to be then left will be left as by default leaving right side to be roughly 33% in size http get weather temperature shouldBe &lt; 100 http doc capture weather example portion 10 portion 5 10 ```columns right portion 5 left include groovy org testingisdocumenting testing examples restapi WebTauRestAPIGroovyTest groovy title WebTau REST API test example entry weather bodyOnly true right include json weather example response json title weather response example highlightValueFile weather example paths json ```</p>
</article>

<article>
<header><h1>Border</h1></header>
<p>Use to add a border separator between columns Before Hello World After World Of Hellos border ```columns border true left **Before** Hello World right **After** World Of Hellos ```</p>
</article>

<article>
<header><h1>Alignment</h1></header>
<p>Use to change a column content alignment Before Hello World After World Of Hellos align ```columns border true left align right left **Before** Hello World right **After** World Of Hellos ```</p>
</article>

<article>
<header><h1>Presentation Mode</h1></header>
<p>In Presentation Mode each column content will appear on slide transition</p>
</article>
</section>
<section id="table-of-contents" style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<a href="/znai/introduction/what-is-this/">What Is This</a>
</article>

<article>
<a href="/znai/introduction/getting-started/">Getting Started</a>
</article>

<article>
<a href="/znai/flow/structure/">Structure</a>
</article>

<article>
<a href="/znai/flow/landing/">Landing</a>
</article>

<article>
<a href="/znai/flow/names/">Page Titles</a>
</article>

<article>
<a href="/znai/flow/page-references/">Page References</a>
</article>

<article>
<a href="/znai/flow/page-toc/">Page Toc</a>
</article>

<article>
<a href="/znai/flow/lookup-paths/">Lookup Paths</a>
</article>

<article>
<a href="/znai/flow/search/">Search</a>
</article>

<article>
<a href="/znai/flow/footer/">Footer</a>
</article>

<article>
<a href="/znai/flow/support/">Support</a>
</article>

<article>
<a href="/znai/flow/footnotes/">Footnotes</a>
</article>

<article>
<a href="/znai/flow/presentation/">Presentation</a>
</article>

<article>
<a href="/znai/flow/testing-is-documenting/">Testing Is Documenting</a>
</article>

<article>
<a href="/znai/flow/shortcuts/">Shortcuts</a>
</article>

<article>
<a href="/znai/snippets/code-snippets/">Code Snippets</a>
</article>

<article>
<a href="/znai/snippets/external-code-snippets/">External Code Snippets</a>
</article>

<article>
<a href="/znai/snippets/snippets-manipulation/">Snippets Manipulation</a>
</article>

<article>
<a href="/znai/snippets/snippets-highlighting/">Snippets Highlighting</a>
</article>

<article>
<a href="/znai/snippets/code-comments/">Code Comments</a>
</article>

<article>
<a href="/znai/snippets/inlined-code-snippets/">Inlined Code Snippets</a>
</article>

<article>
<a href="/znai/snippets/api-parameters/">API Parameters</a>
</article>

<article>
<a href="/znai/snippets/code-references/">Code References</a>
</article>

<article>
<a href="/znai/snippets/json/">Json</a>
</article>

<article>
<a href="/znai/snippets/xml/">Xml</a>
</article>

<article>
<a href="/znai/snippets/open-API/">Open API</a>
</article>

<article>
<a href="/znai/snippets/CLI/">CLI</a>
</article>

<article>
<a href="/znai/snippets/math/">Math</a>
</article>

<article>
<a href="/znai/snippets/jupyter-notebook/">Jupyter Notebook</a>
</article>

<article>
<a href="/znai/snippets/cpp/">Cpp</a>
</article>

<article>
<a href="/znai/snippets/python/">Python</a>
</article>

<article>
<a href="/znai/snippets/java/">Java</a>
</article>

<article>
<a href="/znai/snippets/groovy/">Groovy</a>
</article>

<article>
<a href="/znai/snippets/markdown/">Markdown</a>
</article>

<article>
<a href="/znai/visuals/attention-signs/">Attention Signs</a>
</article>

<article>
<a href="/znai/visuals/images/">Images</a>
</article>

<article>
<a href="/znai/visuals/image-annotations/">Image Annotations</a>
</article>

<article>
<a href="/znai/visuals/cards/">Cards</a>
</article>

<article>
<a href="/znai/visuals/charts/">Charts</a>
</article>

<article>
<a href="/znai/visuals/mermaid-diagrams/">Mermaid Diagrams</a>
</article>

<article>
<a href="/znai/visuals/SVG/">SVG</a>
</article>

<article>
<a href="/znai/visuals/icons/">Icons</a>
</article>

<article>
<a href="/znai/visuals/headings/">Headings</a>
</article>

<article>
<a href="/znai/visuals/text-badge/">Text Badge</a>
</article>

<article>
<a href="/znai/visuals/read-more/">Read More</a>
</article>

<article>
<a href="/znai/visuals/spoilers/">Spoilers</a>
</article>

<article>
<a href="/znai/visuals/keyboard-shortcuts/">Keyboard Shortcuts</a>
</article>

<article>
<a href="/znai/visuals/smart-bullet-points/">Smart Bullet Points</a>
</article>

<article>
<a href="/znai/visuals/flow-diagrams/">Flow Diagrams</a>
</article>

<article>
<a href="/znai/visuals/graphviz-diagrams/">Graphviz Diagrams</a>
</article>

<article>
<a href="/znai/visuals/PlantUml/">PlantUml</a>
</article>

<article>
<a href="/znai/visuals/iframe/">Iframe</a>
</article>

<article>
<a href="/znai/visuals/asciinema/">Asciinema</a>
</article>

<article>
<a href="/znai/layout/tabs/">Tabs</a>
</article>

<article>
<a href="/znai/layout/tables/">Tables</a>
</article>

<article>
<a href="/znai/layout/columns/">Columns</a>
</article>

<article>
<a href="/znai/layout/templates/">Templates</a>
</article>

<article>
<a href="/znai/layout/two-sides-pages/">Two Sides Pages</a>
</article>

<article>
<a href="/znai/layout/two-sides-tabs/">Two Sides Tabs</a>
</article>

<article>
<a href="/znai/layout/jupyter-notebook-two-sides/">Jupyter Notebook Two Sides</a>
</article>

<article>
<a href="/znai/python/content-extraction/">Content Extraction</a>
</article>

<article>
<a href="/znai/python/description-extraction/">Description Extraction</a>
</article>

<article>
<a href="/znai/python/auto-reference/">Auto Reference</a>
</article>

<article>
<a href="/znai/CPP/doxygen-setup/">Doxygen Setup</a>
</article>

<article>
<a href="/znai/CPP/description-extraction/">Description Extraction</a>
</article>

<article>
<a href="/znai/CPP/auto-reference/">Auto Reference</a>
</article>

<article>
<a href="/znai/java/content-extraction/">Content Extraction</a>
</article>

<article>
<a href="/znai/java/description-extraction/">Description Extraction</a>
</article>

<article>
<a href="/znai/java/auto-reference/">Auto Reference</a>
</article>

<article>
<a href="/znai/synergy-with-testing/web-UI/">Web UI</a>
</article>

<article>
<a href="/znai/synergy-with-testing/REST-API/">REST API</a>
</article>

<article>
<a href="/znai/synergy-with-testing/business-logic/">Business Logic</a>
</article>

<article>
<a href="/znai/plugins/plugin-types/">Plugin Types</a>
</article>

<article>
<a href="/znai/plugins/default-parameters/">Default Parameters</a>
</article>

<article>
<a href="/znai/plugins/development/">Development</a>
</article>

<article>
<a href="/znai/configuration/basic/">Basic</a>
</article>

<article>
<a href="/znai/configuration/styling/">Styling</a>
</article>

<article>
<a href="/znai/configuration/top-header/">Top Header</a>
</article>

<article>
<a href="/znai/deployment/additional-files/">Additional Files</a>
</article>

<article>
<a href="/znai/hub/introduction/">Introduction</a>
</article>

<article>
<a href="/znai/hub/setup/">Setup</a>
</article>

<article>
<a href="/znai/hub/build-artifacts-watch/">Build Artifacts Watch</a>
</article>

<article>
<a href="/znai/example-references/domain/">Domain</a>
</article>

<article>
<a href="/znai/example-references/api/">Api</a>
</article>

<article>
<a href="/znai/znai-development/local-build/">Local Build</a>
</article>

<article>
<a href="/znai/release-notes/2025/">2024 Releases</a>
</article>

<article>
<a href="/znai/release-notes/2024/">2024 Releases</a>
</article>

<article>
<a href="/znai/release-notes/2023/">2023 Releases</a>
</article>

<article>
<a href="/znai/release-notes/2022/">2022 Releases</a>
</article>

<article>
<a href="/znai/release-notes/2021/">2021 Releases</a>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/footer.js"></script>
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="module" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="module" src="/znai/search-index.js"></script>
<script type="module">
document.getElementById('znai').innerHTML = '';
/*<!--*/
window.ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "hidePresentationTrigger" : false,
    "viewOn" : {
      "link" : "https://github.com/testingisdocumenting/znai/blob/master/znai-docs/znai",
      "title" : "View Markdown"
    },
    "description" : "Build functional, maintainable, beautiful User Guides with markdown and Znai plugins. Instant pages navigation. Local search. Multiple integrations to work with Python, Java, C++, OpenAPI, etc. Transform \"getting started\" sections into slideshow for your workshops. Manage multiple documentations with self-deployed znai hub.",
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "category" : "Documentation",
    "previewEnabled" : false,
    "support" : {
      "link" : "https://github.com/testingisdocumenting/znai/discussions",
      "title" : "GitHub"
    }
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "id" : "information-layout",
      "additionalIds" : [ ],
      "title" : "Information Layout",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "columns",
          "type" : "InlinedCode"
        }, {
          "text" : " plugin to render content in two columns:",
          "type" : "SimpleText"
        } ]
      }, {
        "bulletMarker" : "*",
        "tight" : true,
        "type" : "BulletList",
        "content" : [ {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Before-and-after transition",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Action and its result",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Input and output",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Result comparison",
              "type" : "SimpleText"
            } ]
          } ]
        } ]
      } ]
    }, {
      "id" : "two-columns",
      "additionalIds" : [ ],
      "title" : "Two Columns",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To define two columns layout use fenced code block and ",
          "type" : "SimpleText"
        }, {
          "code" : "left:",
          "type" : "InlinedCode"
        }, {
          "text" : " and ",
          "type" : "SimpleText"
        }, {
          "code" : "right:",
          "type" : "InlinedCode"
        }, {
          "text" : " labels",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : "```columns\nleft: \nthis content goes to the left\n\nand can span multiple lines\n\nright: \nthis content goes to the right\nand can span multiple lines\n```",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "this content goes to the left",
              "type" : "SimpleText"
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "and can span multiple lines",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "this content goes to the right",
              "type" : "SimpleText"
            }, {
              "type" : "SoftLineBreak"
            }, {
              "text" : "and can span multiple lines",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : { },
        "type" : "Columns"
      } ]
    }, {
      "id" : "three-columns",
      "additionalIds" : [ ],
      "title" : "Three Columns",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To define three columns layout use fenced code block and ",
          "type" : "SimpleText"
        }, {
          "code" : "left:",
          "type" : "InlinedCode"
        }, {
          "text" : ", ",
          "type" : "SimpleText"
        }, {
          "code" : "middle:",
          "type" : "InlinedCode"
        }, {
          "text" : " and ",
          "type" : "SimpleText"
        }, {
          "code" : "right:",
          "type" : "InlinedCode"
        }, {
          "text" : " labels",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : "```columns\nleft: \n### Pros {style: \"api\"}\n* Item One\n\nmiddle: \n### Undecided {style: \"api\"}\n* Item Two\n* Item Three\n\nright:\n### Cons {style: \"api\"}\n* Item Four\n```",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-pros",
            "additionalIds" : [ "pros" ],
            "level" : 3,
            "title" : "Pros",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item One",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-undecided",
            "additionalIds" : [ "undecided" ],
            "level" : 3,
            "title" : "Undecided",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Two",
                  "type" : "SimpleText"
                } ]
              } ]
            }, {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Three",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-cons",
            "additionalIds" : [ "cons" ],
            "level" : 3,
            "title" : "Cons",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Four",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        } ],
        "config" : { },
        "type" : "Columns"
      } ]
    }, {
      "id" : "sizes",
      "additionalIds" : [ ],
      "title" : "Sizes",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Size can be specified for a column as a ",
          "type" : "SimpleText"
        }, {
          "code" : "portion",
          "type" : "InlinedCode"
        }, {
          "text" : ". By default, both portions are assigned a value of ",
          "type" : "SimpleText"
        }, {
          "code" : "10",
          "type" : "InlinedCode"
        }, {
          "text" : ".",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "If you specify right column ",
          "type" : "SimpleText"
        }, {
          "code" : "portion",
          "type" : "InlinedCode"
        }, {
          "text" : " to be ",
          "type" : "SimpleText"
        }, {
          "code" : "5",
          "type" : "InlinedCode"
        }, {
          "text" : ", then left will be left as ",
          "type" : "SimpleText"
        }, {
          "code" : "10",
          "type" : "InlinedCode"
        }, {
          "text" : " by default,",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "leaving right side to be roughly 33% in size.",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "lang" : "groovy",
            "snippet" : "http.get(\"/weather\") {\n    temperature.shouldBe < 100\n}\n\nhttp.doc.capture(\"weather-example\")",
            "title" : "WebTau REST API test example",
            "entry" : "weather",
            "bodyOnly" : true,
            "type" : "Snippet"
          } ]
        }, {
          "content" : [ {
            "title" : "weather response example",
            "data" : {
              "temperature" : 90,
              "city" : "New York"
            },
            "highlightValues" : [ "root.temperature" ],
            "highlightKeys" : [ ],
            "anchorId" : "sizes-weather-response-example",
            "type" : "Json"
          } ]
        } ],
        "config" : {
          "right" : {
            "portion" : 5
          }
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {right: {portion: 5}}\nleft: \n:include-groovy: org/testingisdocumenting/testing/examples/restapi/WebTauRestAPIGroovyTest.groovy {\n  title: \"WebTau REST API test example\",\n  entry: \"weather\",\n  bodyOnly: true\n}\n\nright:\n:include-json: weather-example/response.json {\n  title: \"weather response example\",\n  highlightValueFile: \"weather-example/paths.json\"\n}\n```",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "border",
      "additionalIds" : [ ],
      "title" : "Border",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "border",
          "type" : "InlinedCode"
        }, {
          "text" : " to add a border separator between columns",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Before",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Hello World",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "After",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "World Of Hellos",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "border" : true
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {border: true}\nleft: \n**Before**\n\nHello World\n\nright:\n**After**\n\nWorld Of Hellos\n```",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "alignment",
      "additionalIds" : [ ],
      "title" : "Alignment",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "align",
          "type" : "InlinedCode"
        }, {
          "text" : " to change a column content alignment.",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Before",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Hello World",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "After",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "World Of Hellos",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "border" : true,
          "left" : {
            "align" : "right"
          }
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {border: true, left: {align: \"right\"}}\nleft: \n**Before**\n\nHello World\n\nright:\n**After**\n\nWorld Of Hellos\n```",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "presentation-mode",
      "additionalIds" : [ ],
      "title" : "Presentation Mode",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "In Presentation Mode each column content will appear on slide transition",
          "type" : "SimpleText"
        } ]
      } ]
    } ],
    "lastModifiedTime" : 1747705624249,
    "tocItem" : {
      "chapterTitle" : "Layout",
      "pageTitle" : "Columns",
      "pageMeta" : { },
      "dirName" : "layout",
      "fileName" : "columns",
      "fileExtension" : "md",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "Information Layout",
        "id" : "information-layout",
        "customAnchorId" : "information-layout"
      }, {
        "title" : "Two Columns",
        "id" : "two-columns",
        "customAnchorId" : "two-columns"
      }, {
        "title" : "Three Columns",
        "id" : "three-columns",
        "customAnchorId" : "three-columns"
      }, {
        "title" : "Sizes",
        "id" : "sizes",
        "customAnchorId" : "sizes"
      }, {
        "title" : "Border",
        "id" : "border",
        "customAnchorId" : "border"
      }, {
        "title" : "Alignment",
        "id" : "alignment",
        "customAnchorId" : "alignment"
      }, {
        "title" : "Presentation Mode",
        "id" : "presentation-mode",
        "customAnchorId" : "presentation-mode"
      } ]
    }
  }
}), document.getElementById("znai"));
/*-->*/

</script>

</body>
</html>
