<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<title>Znai: Columns</title>
<!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body class="theme-znai-dark">
<script>(function() {
    var themeNameKey = 'znaiTheme';
    var darkThemeName = 'znai-dark';
    var lightThemeName = 'default';

    var znaiTheme = {
        changeHandlers: [],
        addChangeHandler(handler) {
            this.changeHandlers.push(handler);
        },
        removeChangeHandler(handler) {
            var idx = this.changeHandlers.indexOf(handler);
            this.changeHandlers.splice(idx, 1);
        },
        set(name) {
            this.name = name;
            document.body.className = 'theme-' + name;

            var idx = 0;
            var len = this.changeHandlers.length;
            for (; idx < len; idx++) {
                this.changeHandlers[idx](name);
            }
        },
        setExplicitly(name) {
            storeThemeName(name);
            this.set(name);
        },
        setExplicitlyIfNotSetAlready(name) {
            const themeName = getStoredThemeName();
            if (themeName) {
                return
            }

            this.setExplicitly(name)
        },
        toggle() {
            this.setExplicitly(this.name === lightThemeName ? darkThemeName : lightThemeName)
        }
    };

    var mediaThemeName = setLightMatchMediaListenerAndGetThemeName()
    var themeName = getStoredThemeName() || mediaThemeName;
    znaiTheme.set(themeName);

    window.znaiTheme = znaiTheme;

    function getStoredThemeName() {
        return localStorage.getItem(themeNameKey);
    }

    function storeThemeName(name) {
        return localStorage.setItem(themeNameKey, name);
    }

    function setLightMatchMediaListenerAndGetThemeName() {
        if (!window.matchMedia) {
            return darkThemeName;
        }

        var lightQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightQuery.addListener(function (e) {
            const newThemeName = e.matches ? lightThemeName : darkThemeName;
            znaiTheme.setExplicitly(newThemeName);
        });

        return lightQuery.matches ? lightThemeName : darkThemeName;
    }
})()</script>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>Information Layout</h1></header>
<p>Use columns plugin to render content in two columns:Before-and-after transition Action and its result Input and output Result comparison</p>
</article>

<article>
<header><h1>Two Columns</h1></header>
<p>To define two columns layout use fenced code block and left: and right: labels markdown ```columns left: this content goes to the left and can span multiple lines right: this content goes to the right and can span multiple lines ``` this content goes to the leftand can span multiple lines this content goes to the right and can span multiple lines</p>
</article>

<article>
<header><h1>Three Columns</h1></header>
<p>To define three columns layout use fenced code block and left: , middle: and right: labels markdown ```columns left: ### Pros {style: &quot;api&quot;} * Item One middle: ### Undecided {style: &quot;api&quot;} * Item Two * Item Three right: ### Cons {style: &quot;api&quot;} * Item Four ``` Pros Item One Undecided Item Two Item Three Cons Item Four</p>
</article>

<article>
<header><h1>Sizes</h1></header>
<p>Size can be specified for a column as a portion . By default, both portions are assigned a value of 10 . If you specify right column portion to be 5 , then left will be left as 10 by default, leaving right side to be roughly 33% in size. http.get(&quot;/weather&quot;) { temperature.shouldBe &lt; 100 } http.doc.capture(&quot;weather-example&quot;) ```columns {right: {portion: 5}} left: :include-groovy: org/testingisdocumenting/testing/examples/restapi/WebTauRestAPIGroovyTest.groovy { title: &quot;WebTau REST API test example&quot;, entry: &quot;weather&quot;, bodyOnly: true } right: :include-json: weather-example/response.json { title: &quot;weather response example&quot;, pathsFile: &quot;weather-example/paths.json&quot; } ```</p>
</article>

<article>
<header><h1>Border</h1></header>
<p>Use border to add a border separator between columns BeforeHello World AfterWorld Of Hellos ```columns {border: true} left: **Before** Hello World right: **After** World Of Hellos ```</p>
</article>

<article>
<header><h1>Alignment</h1></header>
<p>Use align to change a column content alignment. BeforeHello World AfterWorld Of Hellos ```columns {border: true, left: {align: &quot;right&quot;}} left: **Before** Hello World right: **After** World Of Hellos ```</p>
</article>

<article>
<header><h1>Presentation Mode</h1></header>
<p>In Presentation Mode each column content will appear on slide transition</p>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/footer.js"></script>
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="text/javascript" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="text/javascript" src="/znai/search-index.js"></script>
<script>
document.getElementById('znai').innerHTML = '';
/*<!--*/
ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "viewOn" : {
      "link" : "https://github.com/testingisdocumenting/znai/blob/master/znai-docs/znai",
      "title" : "View Markdown"
    },
    "description" : "Build functional, maintainable, beautiful User Guides with markdown and Znai plugins. Instant pages navigation. Local search. Multiple integrations to work with Python, Java, C++, OpenAPI, etc. Transform \"getting started\" sections into slideshow for your workshops. Manage multiple documentations with self-deployed znai hub.",
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "category" : "Documentation",
    "previewEnabled" : false,
    "support" : {
      "link" : "https://github.com/testingisdocumenting/znai/discussions",
      "title" : "Questions/Suggestions"
    }
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "id" : "information-layout",
      "title" : "Information Layout",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "columns",
          "type" : "InlinedCode"
        }, {
          "text" : " plugin to render content in two columns:",
          "type" : "SimpleText"
        } ]
      }, {
        "bulletMarker" : "*",
        "tight" : true,
        "type" : "BulletList",
        "content" : [ {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Before-and-after transition",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Action and its result",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Input and output",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "type" : "ListItem",
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Result comparison",
              "type" : "SimpleText"
            } ]
          } ]
        } ]
      } ]
    }, {
      "id" : "two-columns",
      "title" : "Two Columns",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To define two columns layout use fenced code block and ",
          "type" : "SimpleText"
        }, {
          "code" : "left:",
          "type" : "InlinedCode"
        }, {
          "text" : " and ",
          "type" : "SimpleText"
        }, {
          "code" : "right:",
          "type" : "InlinedCode"
        }, {
          "text" : " labels",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : "```columns\nleft: \nthis content goes to the left\n\nand can span multiple lines\n\nright: \nthis content goes to the right\nand can span multiple lines\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "this content goes to the left",
              "type" : "SimpleText"
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "and can span multiple lines",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "this content goes to the right",
              "type" : "SimpleText"
            }, {
              "type" : "SoftLineBreak"
            }, {
              "text" : "and can span multiple lines",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : { },
        "type" : "Columns"
      } ]
    }, {
      "id" : "three-columns",
      "title" : "Three Columns",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To define three columns layout use fenced code block and ",
          "type" : "SimpleText"
        }, {
          "code" : "left:",
          "type" : "InlinedCode"
        }, {
          "text" : ", ",
          "type" : "SimpleText"
        }, {
          "code" : "middle:",
          "type" : "InlinedCode"
        }, {
          "text" : " and ",
          "type" : "SimpleText"
        }, {
          "code" : "right:",
          "type" : "InlinedCode"
        }, {
          "text" : " labels",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : "```columns\nleft: \n### Pros {style: \"api\"}\n* Item One\n\nmiddle: \n### Undecided {style: \"api\"}\n* Item Two\n* Item Three\n\nright:\n### Cons {style: \"api\"}\n* Item Four\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-pros",
            "level" : 3,
            "title" : "Pros",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item One",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-undecided",
            "level" : 3,
            "title" : "Undecided",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Two",
                  "type" : "SimpleText"
                } ]
              } ]
            }, {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Three",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "style" : "api",
            "id" : "three-columns-cons",
            "level" : 3,
            "title" : "Cons",
            "type" : "SubHeading"
          }, {
            "bulletMarker" : "*",
            "tight" : true,
            "type" : "BulletList",
            "content" : [ {
              "type" : "ListItem",
              "content" : [ {
                "type" : "Paragraph",
                "content" : [ {
                  "text" : "Item Four",
                  "type" : "SimpleText"
                } ]
              } ]
            } ]
          } ]
        } ],
        "config" : { },
        "type" : "Columns"
      } ]
    }, {
      "id" : "sizes",
      "title" : "Sizes",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Size can be specified for a column as a ",
          "type" : "SimpleText"
        }, {
          "code" : "portion",
          "type" : "InlinedCode"
        }, {
          "text" : ". By default, both portions are assigned a value of ",
          "type" : "SimpleText"
        }, {
          "code" : "10",
          "type" : "InlinedCode"
        }, {
          "text" : ".",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "If you specify right column ",
          "type" : "SimpleText"
        }, {
          "code" : "portion",
          "type" : "InlinedCode"
        }, {
          "text" : " to be ",
          "type" : "SimpleText"
        }, {
          "code" : "5",
          "type" : "InlinedCode"
        }, {
          "text" : ", then left will be left as ",
          "type" : "SimpleText"
        }, {
          "code" : "10",
          "type" : "InlinedCode"
        }, {
          "text" : " by default,",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "leaving right side to be roughly 33% in size.",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "lang" : "groovy",
            "snippet" : "http.get(\"/weather\") {\n    temperature.shouldBe < 100\n}\n\nhttp.doc.capture(\"weather-example\")",
            "title" : "WebTau REST API test example",
            "entry" : "weather",
            "bodyOnly" : true,
            "type" : "Snippet"
          } ]
        }, {
          "content" : [ {
            "title" : "weather response example",
            "pathsFile" : "weather-example/paths.json",
            "data" : {
              "temperature" : 90,
              "city" : "New York"
            },
            "paths" : [ "root.temperature" ],
            "type" : "Json"
          } ]
        } ],
        "config" : {
          "right" : {
            "portion" : 5
          }
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {right: {portion: 5}}\nleft: \n:include-groovy: org/testingisdocumenting/testing/examples/restapi/WebTauRestAPIGroovyTest.groovy {\n  title: \"WebTau REST API test example\",\n  entry: \"weather\",\n  bodyOnly: true\n}\n\nright:\n:include-json: weather-example/response.json {\n  title: \"weather response example\",\n  pathsFile: \"weather-example/paths.json\"\n}\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "border",
      "title" : "Border",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "border",
          "type" : "InlinedCode"
        }, {
          "text" : " to add a border separator between columns",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Before",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Hello World",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "After",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "World Of Hellos",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "border" : true
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {border: true}\nleft: \n**Before**\n\nHello World\n\nright:\n**After**\n\nWorld Of Hellos\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "alignment",
      "title" : "Alignment",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "align",
          "type" : "InlinedCode"
        }, {
          "text" : " to change a column content alignment.",
          "type" : "SimpleText"
        } ]
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Before",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Hello World",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "After",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "World Of Hellos",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "border" : true,
          "left" : {
            "align" : "right"
          }
        },
        "type" : "Columns"
      }, {
        "lang" : "",
        "snippet" : "```columns {border: true, left: {align: \"right\"}}\nleft: \n**Before**\n\nHello World\n\nright:\n**After**\n\nWorld Of Hellos\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "presentation-mode",
      "title" : "Presentation Mode",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "In Presentation Mode each column content will appear on slide transition",
          "type" : "SimpleText"
        } ]
      } ]
    } ],
    "lastModifiedTime" : 1664816820236,
    "tocItem" : {
      "chapterTitle" : "Layout",
      "pageTitle" : "Columns",
      "pageMeta" : { },
      "dirName" : "layout",
      "fileName" : "columns",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "Information Layout",
        "id" : "information-layout"
      }, {
        "title" : "Two Columns",
        "id" : "two-columns"
      }, {
        "title" : "Three Columns",
        "id" : "three-columns"
      }, {
        "title" : "Sizes",
        "id" : "sizes"
      }, {
        "title" : "Border",
        "id" : "border"
      }, {
        "title" : "Alignment",
        "id" : "alignment"
      }, {
        "title" : "Presentation Mode",
        "id" : "presentation-mode"
      } ]
    }
  }
}), document.getElementById("znai"));
/*-->*/

</script>

</body>
</html>
