.open-api-operation {

}

.open-api-operation > .url-and-summary {
    font-size: 14px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}

.open-api-operation > .url-and-summary > .method {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--mdoc-black);
}

.open-api-operation > .url-and-summary > .path {
    font-weight: bold;
    color: var(--mdoc-black);
}

.open-api-operation > .url-and-summary > .summary {
}

.open-api-operation > .description {
    margin-top: 5px;
}

.open-api-operation .sub-header {
    font-size: 14px;
    color: var(--mdoc-black);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.open-api-operation > .parameters,
.open-api-operation > .open-api-responses {
    margin-left: 20px;
}