.open-api-operation {

}

.open-api-operation > .url-and-summary {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 20px;
}

.open-api-operation > .url-and-summary > .method {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--mdoc-keyword-color);
}

.open-api-operation > .url-and-summary > .path {
    font-weight: bold;
    color: var(--mdoc-rest-link-color);
}

.open-api-operation > .url-and-summary > .summary {
}

.open-api-operation > .description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.open-api-operation .sub-header {
    color: var(--mdoc-keyword-color);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.open-api-operation > .parameters,
.open-api-operation > .open-api-responses {
    margin-left: 20px;
}