.open-api-operation {
    font-family: var(--mdoc-regular-font-family);
    font-size: var(--mdoc-smaller-text-size);
    margin-top: 15px;
    margin-bottom: 15px;
}

.open-api-operation .content-block {
}

.open-api-operation > .url-and-summary {
    font-family: var(--mdoc-code-font-family);

    display: grid;

    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}

.open-api-operation > .url-and-summary > .method {
    color: var(--mdoc-regular-text-color);
    font-size: var(--mdoc-regular-text-size);
    font-weight: bold;
    text-transform: uppercase;
}

.open-api-operation > .url-and-summary > .path {
    color: var(--mdoc-regular-text-color);
    font-size: var(--mdoc-regular-text-size);
    font-weight: bold;
}

.open-api-operation > .url-and-summary > .summary {
}

.open-api-operation > .description {
    font-size: var(--mdoc-regular-text-size);
    margin-top: 5px;
}

.open-api-operation > .parameters,
.open-api-operation > .open-api-responses {
    margin-left: 20px;
}
