.report .header {
    display: flex;
    flex: 0 0 65px;
    background-color: #627d82;
}

.report .header .title {
    margin-left: 20px;
    font-size: 20px;
    color: #eee;
    flex: 0 0 331px;
    align-self: center;
    cursor: pointer;
}

.report .header .navigation {
    font-size: 20px;
    color: #eee;
    flex: 1;
    display: flex;
    background-color: #555;
}

.report .header .navigation .summary  {
    display: flex;
    cursor: pointer;
    border-right: 1px #888 solid;
}

.report .header .navigation .summary.selected  {
    display: flex;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

.report .header .navigation .summary .entry {
    align-self: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}