.test-details {
    display: flex;
    flex: 1;
    padding: 20px;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

.test-details .file-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.test-details .scenario {
    font-size: 14px;
}

.test-details .assertion,
.test-details .exception-message,
.test-details .context-description {
    font-size: 14px;
    font-family: Monospaced, monospace;
    color: #b02f08;
}

.test-details pre.stack-trace {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Monospaced, monospace;
}

.test-details .context-description {
    border-bottom: 1px #eee solid;
}

.test-details .resource {
}

.test-details .resource .image {
}

.test-details .additional-resources-selection .tab-names {
    flex: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #eeeeee;
}

.test-details .additional-resources-selection .tab-names .tab-name {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
    cursor: pointer;
    margin-bottom: -2px;
}

.test-details .additional-resources-selection .tab-names .tab-name.selected {
    font-weight: bold;
    border-bottom: 2px solid #888888;
}