.test-details {
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    box-sizing: border-box;
}

.test-details .file-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.test-details .scenario {
    font-size: 14px;
}

.test-details .assertion,
.test-details .exception-message,
.test-details .context-description {
    font-size: 14px;
    font-family: Monospaced, monospace;
    color: #b02f08;
}

.test-details pre.stack-trace {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Monospaced, monospace;
}

.test-details .context-description {
    border-bottom: 1px #eee solid;
}

.test-details > .additional-details-selection {
    flex-basis: 40px;
}

.test-details > .detail {
    flex: 1;
    overflow: auto;
    padding: 20px 10px 10px 30px;
}

.test-details .additional-details-selection .tab-names {
    display: flex;
    width: 100%;

    background-color: var(--webtau-test-selection-background-color);
}

.test-details .additional-details-selection .tab-names .tab-name {
    font-size: 14px;
    color: #cfcfcf;

    padding: 10px 15px;

    cursor: pointer;
    user-select: none;
}

.test-details .additional-details-selection .tab-names .tab-name.selected {
    color: #e5e5e5;
    background-color: var(--webtau-test-status-filter-background-color);
}