.report {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;

    font-size: 14px;
    font-family: Helvetica, Verdana, serif;
}

.report .body {
    flex: 1;
    display: flex;
    background-color: #fff;
}