<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<title>Znai: Tables</title><!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/logo.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>CSV</h1></header>
<p>Instead of aligning tables using one of the standard Markdown extensions, you can use your CSV editor of choice. :include-table: table.csv In this way, the following CSV file... Account, Price, Description #12BGD3, 100, custom table with a long attachment #12BGD3, 150, chair #91AGB1, 10, lunch ...will render like so: Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch</p>
</article>

<article>
<header><h1>JSON</h1></header>
<p>A similar extension can be used to display data from a JSON file representing tabular data. :include-table: table.json So the following JSON file... [ { &quot;Account&quot;: &quot;#12BGD3&quot;, &quot;Price&quot;: 100, &quot;Description&quot;: &quot;custom table with a long attachment&quot; }, { &quot;Account&quot;: &quot;#12BGD3&quot;, &quot;Price&quot;: 150, &quot;Description&quot;: &quot;chair&quot; }, { &quot;Account&quot;: &quot;#91AGB1&quot;, &quot;Price&quot;: 10, &quot;Description&quot;: &quot;lunch&quot; } ] ...will render like so: Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch</p>
</article>

<article>
<header><h1>Title</h1></header>
<p>Use title parameter to set a table title. :include-table: table.json {title: &quot;Monthly Report&quot;} Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch</p>
</article>

<article>
<header><h1>Arrange and Filter</h1></header>
<p>To change the order of columns or to filter out certain columns, specify the columns parameter. :include-table: table.csv {columns: [&quot;Description&quot;, &quot;Price&quot;]} Description Price custom table with a long attachment 100 chair 150 lunch 10</p>
</article>

<article>
<header><h1>Alignment and Width</h1></header>
<p>By default column width is auto-calculated to fit the values inside. But you can control the width with the extra options. :include-table: table.csv {Price: {width: 200}, &quot;Description&quot;: {width: 400}} Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch And if you need to change a column alignment from default left to right just add the align property. :include-table: table.csv {Price: {width: 200, align: &quot;right&quot;}} Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch You can do the same for JSON data: :include-table: table.json {Price: {width: 100, align: &quot;right&quot;}} Account Price Description #12BGD3 100 custom table with a long attachment #12BGD3 150 chair #91AGB1 10 lunch</p>
</article>

<article>
<header><h1>Markdown in Cells</h1></header>
<p>You can use Markdown table syntax within your table file. Account, Price, Description #12BGD3, 100, **custom** table with a long attachment #12BGD3, 150, chair #91AGB1, 10, `lunch` Account Price Description #12BGD3 100 **custom** table with a long attachment #12BGD3 150 chair #91AGB1 10 `lunch`</p>
</article>

<article>
<header><h1>Github Flavored Table</h1></header>
<p>| Github | Flavored | Table | | ------------- |:-------------:| -----:| | col 3 is | right-aligned | $1600 | | col 2 is | centered | $12 | Github Flavored Table [{text=col 3 is, type=SimpleText}] [{text=right-aligned, type=SimpleText}] [{text=$1600, type=SimpleText}] [{text=col 2 is, type=SimpleText}] [{text=centered, type=SimpleText}] [{text=$12, type=SimpleText}]</p>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="text/javascript" src="/znai/static/react.min.js"></script>
<script type="text/javascript" src="/znai/static/react-dom.min.js"></script>
<script type="text/javascript" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="text/javascript" src="/znai/search-index.js"></script>
<script>
document.getElementById('znai').innerHTML = '';
ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "viewOn" : {
      "link" : "https://github.com/twosigma/znai/blob/master/znai-docs/documentation",
      "title" : "View On GitHub"
    },
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "previewEnabled" : false
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "title" : "CSV",
      "id" : "csv",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Instead of aligning tables using one of the standard Markdown extensions, you can use your ",
          "type" : "SimpleText"
        }, {
          "code" : "CSV",
          "type" : "InlinedCode"
        }, {
          "text" : " editor of choice.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.csv \n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "In this way, the following ",
          "type" : "SimpleText"
        }, {
          "code" : "CSV",
          "type" : "InlinedCode"
        }, {
          "text" : " file...",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "csv",
        "snippet" : "Account, Price, Description\n#12BGD3, 100, custom table with a long attachment\n#12BGD3, 150, chair\n#91AGB1, 10, lunch",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "...will render like so:",
          "type" : "SimpleText"
        } ]
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      } ]
    }, {
      "title" : "JSON",
      "id" : "json",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "A similar extension can be used to display data from a ",
          "type" : "SimpleText"
        }, {
          "code" : "JSON",
          "type" : "InlinedCode"
        }, {
          "text" : " file representing tabular data.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.json \n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "So the following ",
          "type" : "SimpleText"
        }, {
          "code" : "JSON",
          "type" : "InlinedCode"
        }, {
          "text" : " file...",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "json",
        "snippet" : "[\n  {\n    \"Account\": \"#12BGD3\",\n    \"Price\": 100,\n    \"Description\": \"custom table with a long attachment\"\n  },\n  {\n    \"Account\": \"#12BGD3\",\n    \"Price\": 150,\n    \"Description\": \"chair\"\n  },\n  {\n    \"Account\": \"#91AGB1\",\n    \"Price\": 10,\n    \"Description\": \"lunch\"\n  }\n]",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "...will render like so:",
          "type" : "SimpleText"
        } ]
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      } ]
    }, {
      "title" : "Title",
      "id" : "title",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "title",
          "type" : "InlinedCode"
        }, {
          "text" : " parameter to set a table title.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.json {title: \"Monthly Report\"}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "title" : "Monthly Report",
        "type" : "Table"
      } ]
    }, {
      "title" : "Arrange and Filter",
      "id" : "arrange-and-filter",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To change the order of columns or to filter out certain columns, specify the ",
          "type" : "SimpleText"
        }, {
          "code" : "columns",
          "type" : "InlinedCode"
        }, {
          "text" : " parameter.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.csv {columns: [\"Description\", \"Price\"]}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Description"
          }, {
            "title" : "Price"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      } ]
    }, {
      "title" : "Alignment and Width",
      "id" : "alignment-and-width",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "By default column width is auto-calculated to fit the values inside.",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "But you can control the width with the extra options.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.csv {Price: {width: 200}, \"Description\": {width: 400}}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price",
            "width" : 200
          }, {
            "title" : "Description",
            "width" : 400
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "And if you need to change a column alignment from default ",
          "type" : "SimpleText"
        }, {
          "type" : "Emphasis",
          "content" : [ {
            "text" : "left",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : " to ",
          "type" : "SimpleText"
        }, {
          "type" : "Emphasis",
          "content" : [ {
            "text" : "right",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : " just add the ",
          "type" : "SimpleText"
        }, {
          "code" : "align",
          "type" : "InlinedCode"
        }, {
          "text" : " property.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.csv {Price: {width: 200, align: \"right\"}}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price",
            "width" : 200,
            "align" : "right"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "You can do the same for ",
          "type" : "SimpleText"
        }, {
          "code" : "JSON",
          "type" : "InlinedCode"
        }, {
          "text" : " data:",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-table: table.json {Price: {width: 100, align: \"right\"}}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price",
            "width" : 100,
            "align" : "right"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      } ]
    }, {
      "title" : "Markdown in Cells",
      "id" : "markdown-in-cells",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "You can use Markdown table syntax within your table file.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "csv",
        "snippet" : "Account, Price, Description\n#12BGD3, 100, **custom** table with a long attachment\n#12BGD3, 150, chair\n#91AGB1, 10, `lunch`",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "custom",
                "type" : "SimpleText"
              } ]
            }, {
              "text" : " table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "code" : "lunch",
              "type" : "InlinedCode"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      } ]
    }, {
      "title" : "Github Flavored Table",
      "id" : "github-flavored-table",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "| Github        | Flavored      | Table |\n| ------------- |:-------------:| -----:|\n| col 3 is      | right-aligned | $1600 |\n| col 2 is      | centered      |   $12 |\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Github",
            "align" : "left"
          }, {
            "title" : "Flavored",
            "align" : "center"
          }, {
            "title" : "Table",
            "align" : "right"
          } ],
          "data" : [ [ [ {
            "text" : "col 3 is",
            "type" : "SimpleText"
          } ], [ {
            "text" : "right-aligned",
            "type" : "SimpleText"
          } ], [ {
            "text" : "$1600",
            "type" : "SimpleText"
          } ] ], [ [ {
            "text" : "col 2 is",
            "type" : "SimpleText"
          } ], [ {
            "text" : "centered",
            "type" : "SimpleText"
          } ], [ {
            "text" : "$12",
            "type" : "SimpleText"
          } ] ] ]
        },
        "type" : "Table"
      } ]
    } ],
    "lastModifiedTime" : 1580929748814,
    "tocItem" : {
      "sectionTitle" : "Layout",
      "pageTitle" : "Tables",
      "pageMeta" : { },
      "dirName" : "layout",
      "fileName" : "tables",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "CSV",
        "id" : "csv"
      }, {
        "title" : "JSON",
        "id" : "json"
      }, {
        "title" : "Title",
        "id" : "title"
      }, {
        "title" : "Arrange and Filter",
        "id" : "arrange-and-filter"
      }, {
        "title" : "Alignment and Width",
        "id" : "alignment-and-width"
      }, {
        "title" : "Markdown in Cells",
        "id" : "markdown-in-cells"
      }, {
        "title" : "Github Flavored Table",
        "id" : "github-flavored-table"
      } ]
    }
  },
  "footer" : {
    "type" : "Footer",
    "content" : [ {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "If you have documentation suggestions, features or bugs to report, please create ",
        "type" : "SimpleText"
      }, {
        "url" : "https://github.com/twosigma/znai/issues",
        "isFile" : false,
        "type" : "Link",
        "content" : [ {
          "text" : "GitHub Issue",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "Contributions are welcome",
        "type" : "SimpleText"
      } ]
    }, {
      "type" : "Paragraph",
      "content" : [ {
        "type" : "Emphasis",
        "content" : [ {
          "text" : "Copyright @ 2019 Two Sigma",
          "type" : "SimpleText"
        } ]
      } ]
    } ]
  }
}), document.getElementById("znai"));
</script>

</body>
</html>
