.open-api-schema-as-table {
}

.open-api-schema-table.nested {
    margin-left: 30px;
}

.open-api-schema-table.nested .open-api-single-row-param:first-child {
    border-top: none;
}

.open-api-schema-table-param.expanded {
    padding-bottom: 0;
    border-bottom: none;
}

.open-api-single-row-param .expand-toggle {
    color: var(--mdoc-brand-primary-color);
    font-size: 18px;

    user-select: none;
    cursor: pointer;
}