.webtau-rest {
    font-size: 13px;
}

.webtau-rest .method-and-url {
    padding-top: 10px;
    font-family: var(--mdoc-code-font-family);
}

.webtau-rest .method-and-url .method {
    color: var(--mdoc-keyword-color);
    font-weight: bold;
    margin-right: 15px;
}

.webtau-rest .method-and-url .url {
    color: var(--mdoc-rest-link-color);
}

.webtau-rest .rest-payload .caption {
    color: var(--mdoc-meta-color);
    text-transform: uppercase;
    margin-top: 10px;
}

.webtau-rest .rest-payload .json {
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 2px;
    border:none;
}
