.mdoc-toc-panel-search-area {
    padding: 8px 30px 8px 30px;
    border-bottom: 1px solid var(--mdoc-toc-panel-border-color);
}

.mdoc-toc-panel-search {
    background-color: #eee;
    color: #777;
    font-style: var(--mdoc-smaller-text-size);

    padding: 4px 8px;
    border-radius: 6px;

    cursor: pointer;
}

.mdoc-toc-panel-search-icon-and-text {
    display: flex;
    align-items: center;
}

.mdoc-search-icon {
    margin-right: 8px;
}