.open-api-parameters {
    --vertical-spacing: 5px;
    --label-spacing: 5px;

    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 0 10px;
}

.open-api-parameters > .name {
    color: rgb(81, 132, 151);
    font-weight: bold;
}

.open-api-parameters > .type {
    font-style: italic;
}

.open-api-parameters > .description {
}

.open-api-parameters > .description > .values-description {
    margin-top: var(--vertical-spacing)
}

.open-api-parameters > .description > .values-description > .available-values {
    display: flex;
}

.open-api-parameters > .description > .values-description > .available-values > .available-values-label {
    font-style: italic;
    margin-right: var(--label-spacing)
}

.open-api-parameters > .description > .values-description > .default-value {
    display: flex;
}

.open-api-parameters > .description > .values-description > .default-value > .default-value-label {
    font-style: italic;
    margin-right: var(--label-spacing)
}
