.mdoc-landing {
    display: flex;
}

.mdoc-landing-documentations-area {
    flex: 1;

    max-height: 100vh;
    overflow-y: auto;

    padding: 20px;
    --mdoc-landing-border-color: #ddd;
}

.mdoc-landing-documentations-area > .centered {
    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;
}

.mdoc-landing-category {
    display: flex;

    padding: 0 15px;
    margin-top: 50px;

    --mdoc-landing-border: 1px solid var(--mdoc-landing-border-color);
    --mdoc-landing-line-height: 19px;
}

.mdoc-landing-category > .small-line {
    flex-basis: 30px;
    border-bottom: var(--mdoc-landing-border);
    height: var(--mdoc-landing-line-height);
}

.mdoc-landing-category > .large-line {
    flex: 1;
    border-bottom: var(--mdoc-landing-border);
    height: var(--mdoc-landing-line-height);
}

.mdoc-landing-category > .category {
    font-size: 24px;
    color: var(--mdoc-brand-primary-color);
    padding: 0 15px;
}

.mdoc-landing-documentations {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 40px 40px;

    color: var(--mdoc-light-black);

    padding: 30px 20px 30px 50px;
}

.mdoc-landing-documentation {
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: 0.3s;

    cursor: pointer;
}

.mdoc-landing-documentation:hover {
}

.mdoc-landing-documentation a {
    color: var(--mdoc-light-black);
    text-decoration: none;
}

.mdoc-landing-documentation a:hover {
    color: var(--mdoc-light-black);
}

.mdoc-landing-documentation > a > .name {
    font-size: 18px;
    font-weight: bold;

    padding: 10px 15px;

    border-bottom: 1px solid #eee;
}

.mdoc-landing-documentation > a > .description {
    padding: 10px 15px;
}