li.icon-based {
    list-style: none;
    display: flex;
}

li.icon-based .content-block {
    list-style: none;
    display: flex;
    margin-left: 0;
}

li.icon-based .glyphicon {
    margin-right: 10px;
    font-size: 18px;
    line-height: 20px;
}