.selected-text-plugin-selection {
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #888;
    border-radius: 3px;
    color: #333;
    background: #fff;
    padding: 12px;
    z-index: 10;
}

.selected-text-plugin-selection:hover {
    margin-top: -1px;
    margin-left: -1px;
    border: 2px solid #888;
}