.api-section {
    --section-border-color: rgba(185, 185, 185, 0.7);
    border-bottom: solid 1px var(--section-border-color);
}

.api-section:first-child {
    border-top: solid 1px var(--section-border-color);
}

.api-section > a {
    color: var(--mdoc-regular-text-color);
    text-decoration: none;
}

.api-section > a > .title-block {
    display: flex;
    align-items: center;

    font-size: 18px;

    padding: 8px 0;
    cursor: pointer;
}

.api-section > a > .title-block:hover {
}

.api-section > a > .title-block.selected {
    margin-bottom: 15px;
}

.api-section > a > .title-block > .collapse-indicator {
    font-size: 22px;
    margin-left: 5px;
    margin-right: 15px;
    color: var(--mdoc-brand-primary-color);

    transition: 0.5s ease transform;
}

.api-section > a > .title-block > .collapse-indicator.uncollapsed {
    transform: rotate(90deg);
}

.api-section > a > .title-block > .collapse-indicator.collapsed {
}

.api-section > a > .title-block > .collapse-indicator.collapsed:after {
    content: '›';
}

.api-section > a > .title-block > .collapse-indicator.uncollapsed:after {
    content: '›';
}

.api-section > .api-section-content {
    transition: 0.5s ease max-height;
    overflow-y: hidden;
}