.api-section {
}

.api-section > a {
    color: var(--mdoc-black);
    text-decoration: none;
}

.api-section > a > .title {
    font-size: 16px;
    font-family: var(--mdoc-code-font-family);

    padding: 5px 20px;
    margin-bottom: 8px;
    border-left: 3px solid rgb(var(--mdoc-brand-primary-color-rgb-values));

    cursor: pointer;
}

.api-section > a > .title:hover {
    color: white;
    background-color: rgba(var(--mdoc-brand-primary-color-rgb-values), 0.5);
}

.api-section > a > .title.selected {
    background-color: rgba(var(--mdoc-brand-primary-color-rgb-values), 0.8);
    color: white;
}
