.cli-command .prompt {
    font-weight: bold;
    color: #2f9c0a;
}

.cli-command .cursor {
    font-weight: bold;
    background-color: #2f9c0a;
    margin-left: 5px;
}

.cli-command pre {
    border: none;
    background: none;
}

.cli-command .token {
}

.cli-command .command {
    color: #383b3f;
    font-weight: bold;
}

.cli-command .highlight {
    color: #660e7a;
    font-weight: bold;
}

.cli-command .invisible {
    color: rgba(0, 0, 0, 0);
    height: 0;
}