.cli-command .prompt {
    font-weight: bold;
    color: #2f9c0a;
    user-select: none;
}

.cli-command .cursor {
    font-weight: bold;
    background-color: #2f9c0a;
    margin-left: -5px;
    width: 8px;
    height: 10px;
    display: inline-block;
}

.cli-command .tokens-line {
    display: block;
    margin-left: 30px;
}

.cli-command .tokens-line:first-child {
    display: inline-block;
    margin-left: 0;
}

.cli-command pre {
    border: none;
    background: none;
}

.cli-command .token {
}

.cli-command .command {
    color: #383b3f;
    font-weight: bold;
}

.cli-command .highlight {
    color: #660e7a;
    font-weight: bold;
}

.cli-command .invisible {
    color: rgba(0, 0, 0, 0);
    height: 0;
}