.http-call {
    --mismatch-indicator-color: #cc7c5e;
}

.http-call > .mismatch {
    margin-left: 10px;
}

.http-call-info {
    display: flex;
    align-items: center;
    padding: 5px 0;

    user-select: none;
    cursor: pointer;
}

.http-call.with-mismatches .http-call-info {
    color: var(--mismatch-indicator-color);
}

.http-call-info > .collapse-toggle {
    width: 20px;
    font-size: 16px;
}

.http-call-info > .method {
    color: #555;
    font-weight: bold;
    min-width: 50px;
    text-align: right;
    margin-right: 15px;
}

.http-call.with-mismatches .http-call-info > .method {
    color: var(--mismatch-indicator-color);
}

.http-call-info> .status-code {
    color: #3e474b;
    margin-right: 15px;
}

.http-call-info > .url {
    color: #4862d7;
    margin-right: 15px;
}

.http-call-info > .elapsed-time {
    color: #3e474b;
    padding-right: 30px;
}

.http-call-info > .elapsed-time > .elapsed-seconds,
.http-call-info > .elapsed-time > .elapsed-millis {
    margin-right: 2px;
}

.http-call-info > .elapsed-time > .time-unit {
    color: #888;
    margin-right: 10px;
}

.http-call .payload {
    margin-left: 10px;
}

.http-call .payload .caption {
    color: #888;
    text-transform: uppercase;
    margin-top: 10px;
}

.http-call .payload .data {
    margin-left: 15px;
    margin-bottom: 20px;
}