.footer {
    color: var(--mdoc-footer-color);
    background-color: var(--mdoc-footer-background-color);

    padding: 30px var(--mdoc-single-side-horizontal-min-spacing);

    margin-left: calc(-1 * var(--mdoc-single-side-horizontal-min-spacing));
    margin-right: calc(-1 * var(--mdoc-single-side-horizontal-min-spacing));
}