.columns {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    flex: 1;
}

.column:first-child {
    margin-right: 10px;
    padding-right: 10px;
}

.column .content-block {
    width: auto;
}

.column .snippet-container {
    display: flex;
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: none;
    flex-direction: column;
}

.column .title-container {
    margin: 0;
}

.column.border {
    border-right: 1px solid var(--mdoc-brand-primary-color);
    margin-right: 20px;
    padding-right: 20px;
}