:root {
    --mdoc-regular-text-size: 16px;
    --mdoc-smaller-text-size: 14px;
    --mdoc-small-meta-text-size: 12px;
    --mdoc-regular-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

    --mdoc-inlined-code-text-size: 14px;
    --mdoc-code-text-size: 13px;
    --mdoc-code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    --mdoc-black: #333;
    --mdoc-light-black: #666;
    --mdoc-brand-primary-color: #009AA6;

    --mdoc-rest-link-color: #7287b3;
    --mdoc-important-attention: #c52912;
    --mdoc-meta-color: #aaa;
    --mdoc-regular-text-color: var(--mdoc-black);
    --mdoc-regular-text-light-color: var(--mdoc-light-black);

    --mdoc-single-column-full-width: 900px;
    --mdoc-single-column-partial-width: 600px;

    --mdoc-space-above-next-prev-navigation: 150px;
    --mdoc-space-below-next-prev-navigation: 100px;
    --mdoc-space-left-next-prev-navigation: 50px;
    --mdoc-space-right-next-prev-navigation: 50px;

    --mdoc-two-sides-horizontal-spacing: 30px;

    --mdoc-snippets-outer-border-color: #ddd;
    --mdoc-snippets-inner-border-color: #f3f3f3;
    --mdoc-snippets-title-color: #555;

    --mdoc-default-code-block-color: var(--mdoc-black);
    --mdoc-class-color: #383b3f;
    --mdoc-function-color: #a15b38;
    --mdoc-keyword-color: #000080;
    --mdoc-number-color: #0000ff;
    --mdoc-string-color: #008000;
    --mdoc-highlighted-background-color: rgba(100, 180, 250, 0.3);
    --mdoc-property-color: #660e7a;
    --mdoc-punctuation-color: #888;

    --mdoc-inversed-text-color: #bbbbbb;
    --mdoc-inversed-background-color: #282f34;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/Lato-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('/static/fonts/Lato-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/Lato-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/static/fonts/Lato-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('/static/fonts/Lato-Black.woff2') format('woff2');
}

body {
    font-family: var(--mdoc-regular-font-family);
}

.emphasis {
    font-style: italic;
}

.strong-emphasis {
    font-weight: bold;
}

.content-block {
    width: var(--mdoc-single-column-full-width);
    margin-left: auto;
    margin-right: auto;
}

.wide-screen {
    display: flex;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.image.inlined {
    display: inline-block;
}

