body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section {
    margin-top: 100px;
    font-size: 16px;
}

.page-title-block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 32px;
}

.doc-section-title:before {
    font-size: 20px;
    color: #aaa;
    content: "// ";
}

.doc-section-title {
    color: #aaa;
    font-size: 20px;
}

.section-title {
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 20px;

    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.emphasis {
    font-style: italic;
}

.strong-emphasis {
    font-weight: bold;
}

blockquote {
    font-size: 16px;
}

.page-content {
}

.paragraph {
    margin-bottom: 10px;
}

pre {
    margin: 0;
}

.content-block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.wide-screen {
    display: flex;
    align-items: center;
}

.graphviz-diagram,
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.image.inlined {
    display: inline-block;
}

.__recently-modified {
    border-left: 5px solid #6060f0;
    padding-left: 5px;
    margin-left: 5px;
}

