.toc-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.toc-item {
  margin-left: 10px;
}

.toc-item:hover {
  background: #eee;
  cursor: pointer;
}

.toc-item.selected {
  background: #eee;  
}

.toc-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100px; 
  display: inline-block;
  padding: 20px;
  border-right: 1px solid #eee;
  transition: left 0.5s ease-in;  
}

.toc-panel.collapsed {
  left: -100px;
  transition: left 0.5s ease-in;
}

.toc-panel-expand-button {
  position: absolute;
  top: -40px;
  width: 20px;
  height: 20px;
}

.toc-panel-expand-button.appeared {
  top: 40px;
  transition: top 0.5s ease-in;
}

.navbar-brand {
    padding: 0 40px 0 15px;
}

.navbar-brand strong {
    color: #5e6167;
    margin-right: 10px;
}

.navbar-brand img {
    display: inline-block;
    margin-right: 10px;
}

.page-title {
    color: #5e6167;
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: 0;
}

pre {
    background: #fff;
    border: none;
}

.navbar-default {
    background-color: #fff;
}

.section-title {
    font-size: 28px;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 30px;

    color: #009aa6;
    border-bottom: 2px solid #d0d0d0;
}

.emphasis {
    font-style: italic;
}

.snippet {
    margin-left: 20px;
}

.strong-emphasis {
    font-weight: bold;
}
