pre {
    overflow-y: hidden;
    color: var(--mdoc-default-code-block-color)
}

code {
    border: none;
    background: none;
    color: var(--mdoc-function-color);
    padding: 0;
    font-size: var(--mdoc-inlined-code-text-size);
}
