.documentation {
    display: flex;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main-panel {
    flex: 4;
    flex-basis: 70%;
    max-height: 100vh;
    overflow-y: scroll;
}

.toc-panel {
    flex: 2;

    overflow-x: auto;
    white-space: nowrap;
    border-right: 1px solid #eee;
    min-height: 100vh;
    min-width: 300px;

    background-color: #333;
    color: #fff;
}

.toc-panel .header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: #3080b9;
    color: white;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    padding: 15px 10px 10px 40px;
    z-index: 2;
}

.toc-panel.selected .header {
}

.toc-panel-header-title {
    align-self: baseline;
    font-size: 18px;
}

.toc-panel-header-title:hover {
    cursor: pointer;
}

.toc-menu {
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
}

.toc-section {
    margin-bottom: 20px;
    padding-left: 10px;
}

.toc-section:first-child {
    padding-top: 10px;
}

.toc-section .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #eee;
}

.toc-section.selected .title {
    color: #fff;
}

.toc-item {
    border-left: 2px solid #333;
    padding-left: 5px;
    margin-left: 0;
    margin-bottom: 4px;
    font-size: 16px;
    color: #bbb;
    transition: border-color 0.8s;
}

.toc-item:hover {
    cursor: pointer;
}

.toc-item.selected {
    border-left: 2px solid #999;
    color: #fff;
    transition: border-color 0.5s;
}

.toc-menu .page-sections {
    padding-left: 10px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.toc-menu .page-sections .page-section {
    border-left: 3px solid #333;
    margin-bottom: 2px;
    padding-left: 5px;
}

.toc-menu .page-sections a {
    color: #bbb;
    text-decoration: none;
}

.toc-menu .page-sections .page-section.selected {
    border-left: 3px solid #999;
    margin-left: 0;
    transition: border-color 0.5s;
}

.toc-menu .page-sections .selected a {
    color: #eee;
}

.toc-panel.collapsed {
    width: 0;
    min-width: 0;
}

.toc-panel-expand-button {
    position: fixed;
    cursor: pointer;
    color: black;
    top: -40px;
    left: 20px;
    font-size: 20px;
}

.toc-panel-expand-button.appeared {
    cursor: pointer;
    position: fixed;
    top: 14px;
    left: 20px;
    font-size: 20px;
    transition: top 0.5s ease-in;
    z-index: 1001;
}

.toc-panel-collapse-button {
    font-size: 20px;
    cursor: pointer;
}

.toc-panel-collapse-button.appeared {
    cursor: pointer;
    font-size: 20px;
    transition: left 0.5s;
    align-self: baseline;
}

.top-navigation {
    min-height: 60px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    color: black;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    z-index: 2;
}

.top-navigation .menu {
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.menu-page-title {
    font-size: 24px;
    margin-left: 40px;
    color: #888888;
}

.preview-icon {
    color: #3080b9;
    position: fixed;
    font-size: 20px;
    right: 80px;
    top: 20px;
}

.next-prev-buttons {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.page-navigation-button-and-text {
    display: flex;
    align-items: stretch;
    font-size: 16px;
    cursor: pointer;
}

.page-navigation-button-and-text .next-prev-page-title {
    padding-top: 2px;
}

.page-navigation-button-and-text .glyphicon-chevron-right {
    margin-left: 10px;
    font-size: 24px;
    color: #3080b9;
}

.page-navigation-button-and-text .glyphicon-chevron-left {
    margin-right: 10px;
    font-size: 24px;
    color: #3080b9;
}

.page-gen-error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    color: white;
    background-color: black;
    padding: 20px;
}

.search-button {
    position: fixed;
    font-size: 20px;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.presentation-button {
    position: fixed;
    font-size: 20px;
    left: 10px;
    top: 20px;
    cursor: pointer;
}