.documentation {
    display: flex;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main-panel {
    flex: 4;
    flex-basis: 70%;
    max-height: 100vh;
    overflow-y: scroll;
}

.toc-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    white-space: nowrap;
    border-right: 1px solid #eee;
    min-width: 280px;
    max-width: 280px;

    background-color: #4b4f54;
    color: #fff;
}

.toc-panel .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    min-height: 80px;
    background-color: #383b3f;
    color: #e7e7e7;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    padding: 10px 10px 10px 10px;
    z-index: 2;
}

.toc-panel.selected .header {
}

.toc-panel-header-title {
    font-size: 16px;
    line-height: 48px;
    align-self: baseline;
    margin-left: 20px;
}

.toc-panel-header-title:hover {
    cursor: pointer;
}

.toc-menu {
    padding-top: 20px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.toc-menu::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

.toc-menu::-webkit-scrollbar-thumb {
   background: #ACACAC;
}

.toc-menu::-webkit-scrollbar-track {
   background: 0;
}

.toc-section {
    margin-bottom: 35px;
}

.toc-section:first-child {
    padding-top: 10px;
}

.toc-section .title {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 2px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
}

.toc-item {
    margin-bottom: 3px;
    padding-left: 25px;
}

.toc-item a {
    border-left: 5px solid #4b4f54;
    margin-left: 0;
    font-size: 14px;
    line-height: 35px;
    color: #ACACAC;
    transition: border-color 0.8s;
    text-decoration: none;
}

.toc-item a:hover {
    cursor: pointer;
}

.toc-item.selected {
    border-left: 4px solid #009AA6;
    padding-left: 25px;
    transition: border-color 0.5s;
}

.toc-item.selected > a {
    color: #fff;
}

.toc-menu .page-sections {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.toc-menu .page-sections .page-section {
    margin-bottom: 3px;
    padding-left: 12px;
}

.toc-menu .page-sections a {
    color: #ACACAC;
    text-decoration: none;
}

.toc-menu .page-sections .page-section.selected {
    margin-left: 0;
    transition: border-color 0.5s;
}

.toc-menu .page-sections .selected a {
    color: #fff;
}

.toc-panel.collapsed {
    width: 0;
    min-width: 0;
}

.toc-panel-expand-button {
    position: fixed;
    cursor: pointer;
    color: black;
    top: -40px;
    left: 20px;
    font-size: 20px;
}

.toc-panel-expand-button.appeared {
    cursor: pointer;
    position: fixed;
    top: 14px;
    left: 20px;
    font-size: 20px;
    z-index: 1001;
}

.toc-panel-collapse-button {
    font-size: 20px;
    cursor: pointer;
}

.toc-panel-collapse-button.appeared {
    cursor: pointer;
    font-size: 20px;
    height: 26px;
    transition: left 0.5s;
}

.preview-icon {
    color: #009AA6;
    position: fixed;
    font-size: 20px;
    right: 80px;
    top: 20px;
}

.next-prev-buttons {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.page-navigation-button-and-text {
    display: flex;
    align-items: stretch;
    font-size: 16px;
    cursor: pointer;
}

.page-navigation-button-and-text .next-prev-page-title {
    padding-top: 2px;
}

.page-navigation-button-and-text .glyphicon-chevron-right {
    margin-left: 10px;
    font-size: 24px;
    color: #009AA6;
}

.page-navigation-button-and-text .glyphicon-chevron-left {
    margin-right: 10px;
    font-size: 24px;
    color: #009AA6;
}

.page-gen-error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    color: white;
    background-color: black;
    padding: 20px;
}

.search-button {
    position: fixed;
    font-size: 20px;
    right: 40px;
    top: 20px;
    cursor: pointer;
    color: #000;
    opacity: 0.4;
}

.search-button:hover {
    opacity: 1.0;
}

.presentation-button {
    font-size: 16px;
    cursor: pointer;
    color: #bbb;
}