.documentation {
    display: flex;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.main-panel {
    display: flex;
    flex: 1;
    flex-direction: column;

    padding-left: var(--mdoc-single-side-horizontal-min-spacing);
    padding-right: var(--mdoc-single-side-horizontal-min-spacing);

    max-height: 100vh;
    overflow-y: scroll;
}

.toc-panel {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    white-space: nowrap;
    border-right: 1px solid var(--mdoc-toc-panel-border-color);
    min-width: var(--mdoc-toc-panel-width);
    max-width: var(--mdoc-toc-panel-width);

    background-color: var(--mdoc-toc-panel-background-color);
}

.toc-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--mdoc-toc-title-color);

    line-height: 40px;
    min-height: 80px;
    padding: 10px;

    background-color: var(--mdoc-toc-title-background-color);
    border-bottom: 1px solid var(--mdoc-toc-panel-border-color);

    z-index: 2;
}

.toc-panel-header-logo-and-title {
    display: flex;
}

.toc-panel-settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    min-height: 48px;

    border-top: 1px solid var(--mdoc-toc-panel-border-color);
}

.mdoc-documentation-logo {
    width: 48px;
    height: 48px;
    display: none;
}

.toc-panel-header-title {
    font-size: 16px;
    line-height: 48px;
    align-self: baseline;
    margin-left: 20px;
}

.toc-panel-header-title:hover {
    cursor: pointer;
}

.toc-menu {
    padding-top: 20px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.toc-menu::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    display: none;
}

.toc-menu:hover::-webkit-scrollbar {
    display: block;
}

.toc-menu::-webkit-scrollbar-thumb {
   background: var(--mdoc-toc-panel-border-color);
}

.toc-menu::-webkit-scrollbar-track {
   background: 0;
}

.toc-section {
    margin-bottom: 35px;
}

.toc-section:first-child {
    padding-top: 10px;
}

.toc-section .title {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 2px;
    color: var(--mdoc-toc-chapter-title-color);
    text-transform: uppercase;
    padding-left: 30px;
}

.toc-item {
    margin-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
}

.toc-item a {
    display: block;

    color: var(--mdoc-toc-page-title-color);
    font-size: 15px;
    line-height: 28px;

    transition: border-color 0.8s;
    text-decoration: none;

    margin-left: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.toc-item a:hover {
    cursor: pointer;
}

.toc-item.selected {
    border-left: 4px solid var(--mdoc-toc-selected-border-color);
    padding-left: 25px;
    transition: border-color 0.5s;
}

.toc-item.selected > a {
    color: var(--mdoc-toc-selected-text-color);
}

.toc-menu .page-sections {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.toc-menu .page-sections .page-section {
    margin-bottom: 3px;
    padding-left: 12px;
}

.toc-menu .page-sections a {
    color: var(--mdoc-toc-page-section-color);
    text-decoration: none;
}

.toc-menu .page-sections .page-section.selected {
    margin-left: 0;
    transition: border-color 0.5s;
}

.toc-menu .page-sections .selected a {
    color: var(--mdoc-toc-selected-text-color);
}

.toc-panel.collapsed {
    width: 0;
    min-width: 0;
}

.preview-icon {
    color: var(--mdoc-brand-primary-color);
    position: fixed;
    font-size: 20px;
    right: 55px;
    top: 8px;
    z-index: 1000;
}

.page-gen-error {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    color: white;
    background-color: black;
    padding: 20px;
}

.search-button {
    position: fixed;
    font-size: 20px;
    right: 25px;
    top: 8px;
    cursor: pointer;
    color: #aaa;
    opacity: 0.7;
    z-index: 1000;
}

.search-button:hover {
    opacity: 1.0;
}

.presentation-button {
    font-size: 16px;
    cursor: pointer;
    color: #bbb;
}

@media screen and (max-width: 800px) {
    :root {
        --mdoc-space-left-next-prev-navigation: 10px;
        --mdoc-space-right-next-prev-navigation: 10px;
    }
}