.code-bullet-comment {
    margin-left: 10px;
}

.presentation-code-comment {
    height: 18px;
}

.presentation-code-comment.divider {
    border-top: 1px var(--mdoc-brand-primary-color) solid;
}

.code-bullets {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 1px 1px 16px;
}

.code-bullets.hidden-explanation {
    color: var(--mdoc-snippets-hidden-explanation-color);
    background-color: var(--mdoc-snippets-hidden-explanation-color);
    border-top: var(--mdoc-snippets-outer-border-color) 1px solid;
    border-bottom: var(--mdoc-snippets-outer-border-color) 1px solid;
    padding: 0;
    cursor: pointer;
}

.wide-screen .code-bullets.hidden-explanation {
    border-left: var(--mdoc-snippets-outer-border-color) 1px solid;
    border-right: var(--mdoc-snippets-outer-border-color) 1px solid;
}

.code-bullets .spoiler-message {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    color: #888;
}

.hidden-explanation .ui.blue.circular.label.circle-badge {
    color: var(--mdoc-snippets-hidden-explanation-badge-color) !important; 
    background-color: var(--mdoc-snippets-hidden-explanation-badge-color) !important;
}

span.ui.blue.label {
    background-color: var(--mdoc-snippets-bullet-color) !important;
}

.code-with-inlined-comments.with-highlighted-line pre {
    overflow-y: hidden;
}
