.code-bullet-comment {
    margin-left: 10px;
}

.presentation-code-comment {
    height: 18px;
}

.presentation-code-comment.divider {
    border-top: 1px #009AA6 solid;
}

.code-bullets {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px;
}

.code-bullets.hidden-explanation {
    color: #eee;
    background-color: #eee;
    border: #ddd 1px solid;
    padding: 0;
    cursor: pointer;
}

.code-bullets .spoiler-message {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
    color: #888;
}

.hidden-explanation .ui.blue.circular.label.circle-badge {
    color: #eee !important;
    background-color: #eee !important;
}

span.ui.blue.label {
    background-color: #000080 !important;
}

.code-with-inlined-comments.with-highlighted-line pre {
    overflow-y: hidden;
}

.code-line.highlight {
    background: rgba(100, 180, 250, 0.3);
    padding: 4px 0;
    border-radius: 4px;
}