.code-bullet-comment {
    margin-left: 10px;
}

.presentation-code-comment {
    height: 18px;
}

.presentation-code-comment.divider {
    border-top: 1px #009AA6 solid;
}

.code-bullets {
    margin-top: 20px;
    margin-bottom: 20px;
}

span.ui.blue.label {
    background-color: #000080 !important;
}

.code-with-inlined-comments.with-highlighted-line pre {
    overflow-y: hidden;
}

.code-with-inlined-comments .spoiler {
    border: 1px #ddd solid;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    color: #888;
}

.code-line.highlight {
    background: rgba(100, 180, 250, 0.3);
    padding: 4px 0;
    border-radius: 4px;
}