.token.class-name {
    color: #383b3f;
}

.token.function {
    color: #4b4f54;
}

.token.punctuation {
    color: #aaa;
}

.token.title {
    color: #009AA6;
}

.token.code {
    color: #999;
}

.token.property {
    color: #660e7a;
    font-weight: bold;
}

.token.number {
    color: #0000ff;
}

.token.keyword {
    color: #000080;
    font-weight: bold;
}

.token.string {
    color: #008000;
    font-weight: bold;
}

code {
    border: none;
    background-color: #fff;
    color:#4b4f54;
}
