.token.class-name {
    color: var(--mdoc-class-color);
}

.token.operator {
    background: none;
}

.token.function {
    color: var(--mdoc-function-color);
}

.token.punctuation {
    color: var(--mdoc-punctuation-color);
}

.token.tag {
    color: var(--mdoc-keyword-color);
}

.token.attr-name {
    color: var(--mdoc-function-color);
}

.token.attr-value {
    color: var(--mdoc-property-color);
}

.token.title {
    color: #383b3f;
    font-weight: bold;
}

.token.code {
    color: #999;
}

.token.property,
.token.key {
    color: var(--mdoc-property-color);
    font-weight: bold;
}

.token.number {
    color: var(--mdoc-number-color);
}

.token.keyword {
    color: var(--mdoc-keyword-color);
    font-weight: bold;
}

.token.string {
    color: var(--mdoc-string-color);
    font-weight: bold;
}

.token.highlighted {
    padding: 2px;
    border-radius: 5px;
    background-color: var(--mdoc-highlighted-background-color);
    color: var(--mdoc-highlighted-color);
}