.token.class-name {
    color: #383b3f;
}

.token.operator {
    background: none;
}

.token.function {
    color: #a15b38;
}

.token.punctuation {
    color: var(--mdoc-punctuation-color);
}

.token.title {
    color: #383b3f;
    font-weight: bold;
}

.token.code {
    color: #999;
}

.token.property,
.token.key {
    color: var(--mdoc-property-color);
    font-weight: bold;
}

.token.number {
    color: #0000ff;
}

.token.keyword {
    color: var(--mdoc-keyword-color);
    font-weight: bold;
}

.token.string {
    color: #008000;
    font-weight: bold;
}
