.lang-class {
    margin-top: 10px;
}

.lang-class .class-name {
    font-weight: bold;
}

.lang-class .class-description {
    margin-bottom: 10px;
}

.lang-class .description-and-methods {
    margin-left: 30px;
}