<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<title>Znai: Attention Signs</title>
<!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body class="theme-znai-dark">
<script>(function() {
    var themeNameKey = 'znaiTheme';
    var darkThemeName = 'znai-dark';
    var lightThemeName = 'default';

    var znaiTheme = {
        changeHandlers: [],
        addChangeHandler(handler) {
            this.changeHandlers.push(handler);
        },
        removeChangeHandler(handler) {
            var idx = this.changeHandlers.indexOf(handler);
            this.changeHandlers.splice(idx, 1);
        },
        set(name) {
            this.name = name;
            document.body.className = 'theme-' + name;

            var idx = 0;
            var len = this.changeHandlers.length;
            for (; idx < len; idx++) {
                this.changeHandlers[idx](name);
            }
        },
        setExplicitly(name) {
            storeThemeName(name);
            this.set(name);
        },
        setExplicitlyIfNotSetAlready(name) {
            const themeName = getStoredThemeName();
            if (themeName) {
                return
            }

            this.setExplicitly(name)
        },
        toggle() {
            this.setExplicitly(this.name === lightThemeName ? darkThemeName : lightThemeName)
        }
    };

    var mediaThemeName = setLightMatchMediaListenerAndGetThemeName()
    var themeName = getStoredThemeName() || mediaThemeName;
    znaiTheme.set(themeName);

    window.znaiTheme = znaiTheme;

    function getStoredThemeName() {
        return localStorage.getItem(themeNameKey);
    }

    function storeThemeName(name) {
        return localStorage.setItem(themeNameKey, name);
    }

    function setLightMatchMediaListenerAndGetThemeName() {
        if (!window.matchMedia) {
            return darkThemeName;
        }

        var lightQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightQuery.addListener(function (e) {
            const newThemeName = e.matches ? lightThemeName : darkThemeName;
            znaiTheme.setExplicitly(newThemeName);
        });

        return lightQuery.matches ? lightThemeName : darkThemeName;
    }
})()</script>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>Speed Bump</h1></header>
<p>People skim through documentation. You can grab users attention by using attention signs.To create an attention sign, start a paragraph with one of the predefined keywords followed by a colon. Keyword: message</p>
</article>

<article>
<header><h1>Note</h1></header>
<p>Note: It is very important to not overuse signs. Make sure each sign counts. Note: It is very important to not overuse signs. Make sure each sign counts.</p>
</article>

<article>
<header><h1>Warning</h1></header>
<p>Warning: Bring attention to a common mistake or an often missed configuration step using a warning sign. Do not use too many warning signs. Warning: Bring attention to a common mistake or an often missed configuration step using a warning sign. Do not use too many warning signs.</p>
</article>

<article>
<header><h1>Avoid</h1></header>
<p>Avoid: using multiple versions of `ReactJS` inside one project. Avoid: using multiple versions of ReactJS inside one project.</p>
</article>

<article>
<header><h1>Do Not</h1></header>
<p>Don't: commit node_modules to your repository Do not: commit node_modules to your repository Don't: commit node_modules to your repositoryDo not: commit node_modules to your repository</p>
</article>

<article>
<header><h1>Question</h1></header>
<p>Question: Use the question sign to bring an extra attention to the main idea of a page. \ What is the point of the `attention signs`? Question: Use the question sign to bring extra attention to the main idea of a page. What is the point of the attention signs ?</p>
</article>

<article>
<header><h1>Exercise</h1></header>
<p>Exercise: write a hello world example in this language Exercise: write a hello world example in this language</p>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="text/javascript" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="text/javascript" src="/znai/search-index.js"></script>
<script>
document.getElementById('znai').innerHTML = '';
/*<!--*/
ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "viewOn" : {
      "link" : "https://github.com/testingisdocumenting/znai/blob/master/znai-docs/znai",
      "title" : "View On GitHub"
    },
    "description" : "Transforms Markdown files into rich, well-structured documentation served in a modern web front-end. Znai provides many custom add-ons that supercharge basic generated docs with advanced layout features, dynamic references to code and test artifacts, and many visual and functional enhancements.",
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "category" : "Documentation",
    "previewEnabled" : false,
    "support" : {
      "link" : "https://github.com/testingisdocumenting/znai/issues"
    }
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "title" : "Speed Bump",
      "id" : "speed-bump",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "People skim through documentation. You can grab users attention by using attention signs.",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To create an attention sign, start a paragraph with one of the predefined keywords followed by a colon.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : "Keyword: message\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "title" : "Note",
      "id" : "note",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Note: It is very important to not overuse signs. Make sure each sign counts.\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Note: It is very important to not overuse signs. Make sure each sign counts.",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Warning",
      "id" : "warning",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Warning: Bring attention to a common mistake or an often missed configuration step \nusing a warning sign. Do not use too many warning signs.\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Warning: Bring attention to a common mistake or an often missed configuration",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "step using a warning sign. Do not use too many warning signs.",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Avoid",
      "id" : "avoid",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Avoid: using multiple versions of `ReactJS` inside one project.\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Avoid: using multiple versions of ",
          "type" : "SimpleText"
        }, {
          "code" : "ReactJS",
          "type" : "InlinedCode"
        }, {
          "text" : " inside one project.",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Do Not",
      "id" : "do-not",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Don't: commit node_modules to your repository\n\nDo not: commit node_modules to your repository\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Don't: commit node_modules to your repository",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Do not: commit node_modules to your repository",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Question",
      "id" : "question",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Question: Use the question sign to bring an extra attention to the main idea of a page.\n\\\nWhat is the point of the `attention signs`?\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Question: Use the question sign to bring extra attention to the main idea of a page.",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "text" : "What is the point of the ",
          "type" : "SimpleText"
        }, {
          "code" : "attention signs",
          "type" : "InlinedCode"
        }, {
          "text" : "?",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Exercise",
      "id" : "exercise",
      "type" : "Section",
      "content" : [ {
        "lang" : "",
        "snippet" : "Exercise: write a hello world example in this language\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Exercise: write a hello world example in this language",
          "type" : "SimpleText"
        } ]
      } ]
    } ],
    "lastModifiedTime" : 1612992591538,
    "tocItem" : {
      "sectionTitle" : "Layout",
      "pageTitle" : "Attention Signs",
      "pageMeta" : { },
      "dirName" : "layout",
      "fileName" : "attention-signs",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "Speed Bump",
        "id" : "speed-bump"
      }, {
        "title" : "Note",
        "id" : "note"
      }, {
        "title" : "Warning",
        "id" : "warning"
      }, {
        "title" : "Avoid",
        "id" : "avoid"
      }, {
        "title" : "Do Not",
        "id" : "do-not"
      }, {
        "title" : "Question",
        "id" : "question"
      }, {
        "title" : "Exercise",
        "id" : "exercise"
      } ]
    }
  },
  "footer" : {
    "type" : "Footer",
    "content" : [ {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "If you have documentation suggestions, features or bugs to report, please create ",
        "type" : "SimpleText"
      }, {
        "url" : "https://github.com/testingisdocumenting/znai/issues",
        "isFile" : false,
        "type" : "Link",
        "content" : [ {
          "text" : "GitHub Issue",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "Contributions are welcome",
        "type" : "SimpleText"
      } ]
    } ]
  }
}), document.getElementById("znai"));
/*-->*/

</script>

</body>
</html>
