.bullet-boxes {
    display: flex;
}

.bullet-boxes .bullet-box {
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    width: 140px;
    height: 140px;
    border: 3px solid #7daeff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1e7bbf;
    color: #fff;
}

.bullet-boxes .bullet-box-empty {
    padding: 20px;
    margin: 20px;
    width: 140px;
    height: 140px;
    border: 1px solid #666;
    background-color: #eee;
}

.presentation li {
    max-width: 400px;
    margin: 0;
    font-size: 20px;
}

