.graphviz-diagram-all-content {
    display: flex;
    justify-content: center;

    padding-top: 20px;
    padding-bottom: 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.graphviz-diagram-all-content .expand {
    margin-left: auto;
    /*display: inline-block;*/
    cursor: pointer;
    opacity: 0.4;
}

.graphviz-diagram-all-content .expand:hover {
    opacity: 1;
}

.graphviz-diagram-all-content .diagram-explanation-panel {
    max-height: 100vh;
    flex-basis: 300px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.diagram-explanation-panel .content-block {
    width: auto;
}

.graphviz-diagram-all-content .diagram-slide-labels {
    color: #aaaaaa
}

.diagram-area {
    flex: 50;
}

.explanation-area {
    flex: 5;
    padding-bottom: 20px;
}
