<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<title>Znai: Two Sides Pages</title>
<!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body class="theme-znai-dark">
<script>(function() {
    var themeNameKey = 'znaiTheme';
    var darkThemeName = 'znai-dark';
    var lightThemeName = 'default';

    var znaiTheme = {
        changeHandlers: [],
        addChangeHandler(handler) {
            this.changeHandlers.push(handler);
        },
        removeChangeHandler(handler) {
            var idx = this.changeHandlers.indexOf(handler);
            this.changeHandlers.splice(idx, 1);
        },
        set(name) {
            this.name = name;
            document.body.className = 'theme-' + name;

            var idx = 0;
            var len = this.changeHandlers.length;
            for (; idx < len; idx++) {
                this.changeHandlers[idx](name);
            }
        },
        setExplicitly(name) {
            storeThemeName(name);
            this.set(name);
        },
        setExplicitlyIfNotSetAlready(name) {
            const themeName = getStoredThemeName();
            if (themeName) {
                return
            }

            this.setExplicitly(name)
        },
        toggle() {
            this.setExplicitly(this.name === lightThemeName ? darkThemeName : lightThemeName)
        }
    };

    var mediaThemeName = setLightMatchMediaListenerAndGetThemeName()
    var themeName = getStoredThemeName() || mediaThemeName;
    znaiTheme.set(themeName);

    window.znaiTheme = znaiTheme;

    function getStoredThemeName() {
        return localStorage.getItem(themeNameKey);
    }

    function storeThemeName(name) {
        return localStorage.setItem(themeNameKey, name);
    }

    function setLightMatchMediaListenerAndGetThemeName() {
        if (!window.matchMedia) {
            return darkThemeName;
        }

        var lightQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightQuery.addListener(function (e) {
            const newThemeName = e.matches ? lightThemeName : darkThemeName;
            znaiTheme.setExplicitly(newThemeName);
        });

        return lightQuery.matches ? lightThemeName : darkThemeName;
    }
})()</script>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>Setup</h1></header>
<p>To enable two-sided layout as seen on this page, add the following at the beginning of a Markdown file: markdown --- type: two-sides ---</p>
</article>

<article>
<header><h1>Details Side</h1></header>
<p>Use the right pane to display additional details. It could be a REST response or a code snippet.Use include-meta in front of some content to place it on the right side of the page. All the following content will go to the right side. At the start of a new section it will be reset. markdown :include-open-api: snippets/open-api/uber.json {method: &quot;get&quot;, path: &quot;/v1/estimates/time&quot;} :include-meta: {rightSide: true} :include-json: two-sides/price-estimate.json</p>
</article>

<article>
<header><h1>Open API Example</h1></header>
<p>Responses 200 default</p>
</article>

<article>
<header><h1>Single Data Block Shortcut</h1></header>
<p>Account Price Description #12BGD3 100 custom table with a long attachment #12BGD4 90 custom table with a short attachment #12BGD5 150 chair #91AGB1 10 lunch Account, Price, Description #12BGD3, 100, custom table with a long attachment #12BGD4, 90, custom table with a short attachment #12BGD5, 150, chair #91AGB1, 10, lunch Use rightSide: true as a parameter to include- plugins to move result to the right side. # Single Data Block Shortcut :include-table: layout/table/table.csv :include-file: layout/table/table.csv {rightSide: true}</p>
</article>

<article>
<header><h1>Aligning Data in Columns</h1></header>
<p>Use an include-empty-block to align code snippets or other data block on both sides when there is an extra text on either side. Account Price Description #12BGD3 100 custom table with a long attachment #12BGD4 90 custom table with a short attachment #12BGD5 150 chair #91AGB1 10 lunch Account, Price, Description #12BGD3, 100, custom table with a long attachment #12BGD4, 90, custom table with a short attachment #12BGD5, 150, chair #91AGB1, 10, lunch Table and code snippets above are aligned by using an empty block on the right side. markdown :include-empty-block: {rightSide: true} :include-table: layout/table/table.csv :include-file: layout/table/table.csv {rightSide: true}</p>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/footer.js"></script>
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="text/javascript" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="text/javascript" src="/znai/search-index.js"></script>
<script>
document.getElementById('znai').innerHTML = '';
/*<!--*/
ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "viewOn" : {
      "link" : "https://github.com/testingisdocumenting/znai/blob/master/znai-docs/znai",
      "title" : "View Markdown"
    },
    "description" : "Build functional, maintainable, beautiful User Guides with markdown and Znai plugins. Instant pages navigation. Local search. Multiple integrations to work with Python, Java, C++, OpenAPI, etc. Transform \"getting started\" sections into slideshow for your workshops. Manage multiple documentations with self-deployed znai hub.",
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "category" : "Documentation",
    "previewEnabled" : false,
    "support" : {
      "link" : "https://github.com/testingisdocumenting/znai/discussions",
      "title" : "Questions/Suggestions"
    }
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "id" : "setup",
      "title" : "Setup",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "To enable two-sided layout as seen on this page, add the following at the beginning of a Markdown file:",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : "---\ntype: two-sides\n---\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "details-side",
      "title" : "Details Side",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use the right pane to display additional details. It could be a REST response or a code snippet.",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "include-meta",
          "type" : "InlinedCode"
        }, {
          "text" : " in front of some content to place it on the right side of the page.",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "All the following content will go to the right side. At the start of a new section it will be reset.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : ":include-open-api: snippets/open-api/uber.json {method: \"get\", path: \"/v1/estimates/time\"}\n:include-meta: {rightSide: true}\n:include-json: two-sides/price-estimate.json\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "open-api-example",
      "title" : "Open API Example",
      "type" : "Section",
      "content" : [ {
        "method" : "get",
        "url" : "/estimates/time",
        "type" : "OpenApiMethodAndUrl"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "The Time Estimates endpoint returns ETAs for all products offered at a given location, with the responses expressed as integers in seconds. We recommend that this endpoint be called every minute to provide the most accurate, up-to-date ETAs.",
          "type" : "SimpleText"
        } ]
      }, {
        "parameters" : [ {
          "name" : "start_latitude*",
          "type" : [ {
            "text" : "number(double)",
            "url" : ""
          } ],
          "anchorId" : "null_start_latitude",
          "description" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Latitude component of start location.",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "name" : "start_longitude*",
          "type" : [ {
            "text" : "number(double)",
            "url" : ""
          } ],
          "anchorId" : "null_start_longitude",
          "description" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Longitude component of start location.",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "name" : "customer_uuid",
          "type" : [ {
            "text" : "string(uuid)",
            "url" : ""
          } ],
          "anchorId" : "null_customer_uuid",
          "description" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Unique customer identifier to be used for experience customization.",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "name" : "product_id",
          "type" : [ {
            "text" : "string",
            "url" : ""
          } ],
          "anchorId" : "null_product_id",
          "description" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Unique identifier representing a specific product for a given latitude & longitude.",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "title" : "query parameters",
        "collapsed" : false,
        "noGap" : true,
        "type" : "ApiParameters"
      }, {
        "style" : "api",
        "id" : "open-api-example-responses",
        "level" : 2,
        "title" : "Responses",
        "type" : "SubHeading"
      }, {
        "style" : "api",
        "id" : "open-api-example-responses-200",
        "level" : 4,
        "title" : "200",
        "type" : "SubHeading"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "An array of products",
          "type" : "SimpleText"
        } ]
      }, {
        "parameters" : [ {
          "name" : "",
          "type" : [ {
            "text" : "array of object",
            "url" : ""
          } ],
          "anchorId" : "nullapplication/json",
          "description" : [ ],
          "children" : [ {
            "name" : "product_id",
            "type" : [ {
              "text" : "string",
              "url" : ""
            } ],
            "anchorId" : "nullapplication/json_product_id",
            "description" : [ {
              "type" : "Paragraph",
              "content" : [ {
                "text" : "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "name" : "description",
            "type" : [ {
              "text" : "string",
              "url" : ""
            } ],
            "anchorId" : "nullapplication/json_description",
            "description" : [ {
              "type" : "Paragraph",
              "content" : [ {
                "text" : "Description of product.",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "name" : "display_name",
            "type" : [ {
              "text" : "string",
              "url" : ""
            } ],
            "anchorId" : "nullapplication/json_display_name",
            "description" : [ {
              "type" : "Paragraph",
              "content" : [ {
                "text" : "Display name of product.",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "name" : "capacity",
            "type" : [ {
              "text" : "string",
              "url" : ""
            } ],
            "anchorId" : "nullapplication/json_capacity",
            "description" : [ {
              "type" : "Paragraph",
              "content" : [ {
                "text" : "Capacity of product. For example, 4 people.",
                "type" : "SimpleText"
              } ]
            } ]
          }, {
            "name" : "image",
            "type" : [ {
              "text" : "string",
              "url" : ""
            } ],
            "anchorId" : "nullapplication/json_image",
            "description" : [ {
              "type" : "Paragraph",
              "content" : [ {
                "text" : "Image URL representing the product.",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        } ],
        "title" : "application/json",
        "collapsed" : false,
        "noGap" : true,
        "type" : "ApiParameters"
      }, {
        "style" : "api",
        "id" : "open-api-example-responses-default",
        "level" : 4,
        "title" : "default",
        "type" : "SubHeading"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Unexpected error",
          "type" : "SimpleText"
        } ]
      }, {
        "parameters" : [ {
          "name" : "code",
          "type" : [ {
            "text" : "integer(int32)",
            "url" : ""
          } ],
          "anchorId" : "nullapplication/json_code",
          "description" : [ ]
        }, {
          "name" : "message",
          "type" : [ {
            "text" : "string",
            "url" : ""
          } ],
          "anchorId" : "nullapplication/json_message",
          "description" : [ ]
        }, {
          "name" : "fields",
          "type" : [ {
            "text" : "string",
            "url" : ""
          } ],
          "anchorId" : "nullapplication/json_fields",
          "description" : [ ]
        } ],
        "title" : "application/json",
        "collapsed" : false,
        "noGap" : true,
        "type" : "ApiParameters"
      }, {
        "rightSide" : true,
        "type" : "Meta"
      }, {
        "title" : "Response",
        "meta" : {
          "rightSide" : true
        },
        "data" : {
          "prices" : [ {
            "localized_display_name" : "POOL",
            "distance" : 6.17,
            "display_name" : "POOL",
            "product_id" : "26546650-e557-4a7b-86e7-6a3942445247",
            "high_estimate" : 15,
            "low_estimate" : 13,
            "duration" : 1080,
            "estimate" : "$13-14",
            "currency_code" : "USD"
          }, {
            "localized_display_name" : "uberX",
            "distance" : 6.17,
            "display_name" : "uberX",
            "product_id" : "a1111c8c-c720-46c3-8534-2fcdd730040d",
            "high_estimate" : 17,
            "low_estimate" : 13,
            "duration" : 1080,
            "estimate" : "$13-17",
            "currency_code" : "USD"
          }, {
            "localized_display_name" : "uberXL",
            "distance" : 6.17,
            "display_name" : "uberXL",
            "product_id" : "821415d8-3bd5-4e27-9604-194e4359a449",
            "high_estimate" : 26,
            "low_estimate" : 20,
            "duration" : 1080,
            "estimate" : "$20-26",
            "currency_code" : "USD"
          }, {
            "localized_display_name" : "SELECT",
            "distance" : 6.17,
            "display_name" : "SELECT",
            "product_id" : "57c0ff4e-1493-4ef9-a4df-6b961525cf92",
            "high_estimate" : 38,
            "low_estimate" : 30,
            "duration" : 1080,
            "estimate" : "$30-38",
            "currency_code" : "USD"
          } ]
        },
        "paths" : [ ],
        "type" : "Json"
      } ]
    }, {
      "id" : "single-data-block-shortcut",
      "title" : "Single Data Block Shortcut",
      "type" : "Section",
      "content" : [ {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD4",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "90",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a short attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD5",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      }, {
        "lang" : "csv",
        "snippet" : "Account, Price, Description\n#12BGD3, 100, custom table with a long attachment\n#12BGD4, 90, custom table with a short attachment\n#12BGD5, 150, chair\n#91AGB1, 10, lunch",
        "meta" : {
          "rightSide" : true
        },
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use ",
          "type" : "SimpleText"
        }, {
          "code" : "rightSide: true",
          "type" : "InlinedCode"
        }, {
          "text" : " as a parameter to ",
          "type" : "SimpleText"
        }, {
          "code" : "include-",
          "type" : "InlinedCode"
        }, {
          "text" : " plugins to move result to the right side.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "md",
        "snippet" : "# Single Data Block Shortcut\n\n:include-table: layout/table/table.csv\n:include-file: layout/table/table.csv {rightSide: true}",
        "startLine" : "Single Data Block Shortcut",
        "endLine" : "{rightSide: true}",
        "type" : "Snippet"
      } ]
    }, {
      "id" : "aligning-data-in-columns",
      "title" : "Aligning Data in Columns",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Use an ",
          "type" : "SimpleText"
        }, {
          "code" : "include-empty-block",
          "type" : "InlinedCode"
        }, {
          "text" : " to align code snippets or other data block on both sides when there is an extra text on either side.",
          "type" : "SimpleText"
        } ]
      }, {
        "meta" : {
          "rightSide" : true
        },
        "type" : "EmptyBlock"
      }, {
        "table" : {
          "columns" : [ {
            "title" : "Account"
          }, {
            "title" : "Price"
          }, {
            "title" : "Description"
          } ],
          "data" : [ [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD3",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "100",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a long attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD4",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "90",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "custom table with a short attachment",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#12BGD5",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "150",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "chair",
              "type" : "SimpleText"
            } ]
          } ] ], [ [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "#91AGB1",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "10",
              "type" : "SimpleText"
            } ]
          } ], [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "lunch",
              "type" : "SimpleText"
            } ]
          } ] ] ]
        },
        "type" : "Table"
      }, {
        "lang" : "csv",
        "snippet" : "Account, Price, Description\n#12BGD3, 100, custom table with a long attachment\n#12BGD4, 90, custom table with a short attachment\n#12BGD5, 150, chair\n#91AGB1, 10, lunch",
        "meta" : {
          "rightSide" : true
        },
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Table and code snippets above are aligned by using an empty block on the right side.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "markdown",
        "snippet" : ":include-empty-block: {rightSide: true}\n\n:include-table: layout/table/table.csv\n:include-file: layout/table/table.csv {rightSide: true}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      } ]
    } ],
    "lastModifiedTime" : 1665251345828,
    "tocItem" : {
      "chapterTitle" : "Layout",
      "pageTitle" : "Two Sides Pages",
      "pageMeta" : {
        "type" : [ "two-sides" ]
      },
      "dirName" : "layout",
      "fileName" : "two-sides-pages",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "Setup",
        "id" : "setup"
      }, {
        "title" : "Details Side",
        "id" : "details-side"
      }, {
        "title" : "Open API Example",
        "id" : "open-api-example"
      }, {
        "title" : "Single Data Block Shortcut",
        "id" : "single-data-block-shortcut"
      }, {
        "title" : "Aligning Data in Columns",
        "id" : "aligning-data-in-columns"
      } ]
    }
  }
}), document.getElementById("znai"));
/*-->*/

</script>

</body>
</html>
