.horizontal-stripes {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.horizontal-stripes .horizontal-stripe {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    border: 1px solid #7daeff;
    background-color: #1e7bbf;
    color: #fff;
}

.horizontal-stripes .empty-horizontal-stripe {
    flex: 1;
    border: 1px solid #666;
    background-color: #eee;
}
