.znai-footnote-reference {
   position: relative;

   display: inline-flex;
   align-items: center;
   justify-content: center;

   font-size: 11px;
   color: var(--znai-regular-text-color);
   border: 1px dashed var(--znai-regular-text-color);

   min-height: 16px;
   min-width: 16px;

   margin-top: 1px;
   margin-bottom: 1px;

   top: -0.8em;
}

.znai-footnote-reference.single-char-label {
   border-radius: 10px;
}

.znai-footnote-reference.multi-char-label {
   border-radius: 4px;
   padding-left: 2px;
   padding-right: 2px;
}
