.znai-highlight {
    background-color: #ffeb3b;
    color: black;
    transition: background-color 0.2s;
}

.znai-highlight-hover {
    background-color: #efdd47;
    cursor: pointer;
}

.znai-highlight.clicked {
    background-color: #ff9800;
}

.znai-highlight.start {
    border-radius: 4px 0 0 4px;
    padding-left: 2px;
}

.znai-highlight.end {
    border-radius: 0 4px 4px 0;
    padding-right: 2px;
}

.znai-highlight.middle {
    border-radius: 0;
}

.znai-highlight.single {
    border-radius: 4px;
    padding: 0 2px;
}

