.api-parameters {
    max-width: var(--mdoc-single-column-partial-width);

    display: grid;
    grid-template-columns: auto 1fr;

    font-size: var(--mdoc-smaller-text-size);
    font-family: var(--mdoc-regular-font-family);

    border-top: 1px solid var(--mdoc-snippets-outer-border-color);
    border-bottom: 1px solid var(--mdoc-snippets-outer-border-color);
}

.api-parameters.nested {
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid var(--mdoc-snippets-outer-border-color);
}

.api-parameters.nested .api-parameters.nested {
    border-right: none;
}

.api-parameters.nested:last-child {
    border-bottom: none;
}