.theme-mdoc-dark {
    --mdoc-background-color: #1e2529;

    --mdoc-regular-text-color: var(--mdoc-inversed-text-color);
    --mdoc-regular-text-light-color: #aaa;

    --mdoc-section-title-color: #ddd;
    --mdoc-section-h2-color: #ddd;
    --mdoc-section-h3-color: #ddd;
    --mdoc-section-h4-color: #ddd;
    --mdoc-section-h5-color: #a1afb7;
    --mdoc-section-h6-color: #a1afb7;

    --mdoc-toc-title-color: #a0a1a0;
    --mdoc-toc-title-background-color: #272f33;
    --mdoc-toc-panel-background-color: #272f33;
    --mdoc-toc-panel-border-color: #3e3e3e;
    --mdoc-toc-selected-text-color: var(--mdoc-brand-primary-color);
    --mdoc-toc-selected-border-color: var(--mdoc-brand-primary-color);
    --mdoc-toc-chapter-title-color: #7f8284;
    --mdoc-toc-page-title-color: #a1afb7;
    --mdoc-toc-page-section-color: rgba(145, 171, 173, 0.52);
    --mdoc-toc-panel-icon-color: #798186;
    --mdoc-toc-panel-icon-color-active: #e7c121;
    --mdoc-toc-panel-scrollbar-color: var(--mdoc-toc-panel-border-color);

    --mdoc-footer-color: #b0bcc2;
    --mdoc-footer-background-color: #1b2225;

    --mdoc-search-box-text-color: #777;
    --mdoc-search-box-background-color: #191f22;
    --mdoc-search-overlay-background-color: rgba(0, 0, 0, 0.5);
    --mdoc-search-border-color: var(--mdoc-toc-panel-border-color);
    --mdoc-search-toc-panel-background-color: var(--mdoc-toc-panel-background-color);
    --mdoc-search-toc-panel-scrollbar-color: var(--mdoc-search-border-color);
    --mdoc-search-toc-selected-background-color: var(--mdoc-brand-primary-color);
    --mdoc-search-toc-page-title-color: var(--mdoc-toc-chapter-title-color);
    --mdoc-search-toc-page-section-color: var(--mdoc-regular-text-color);
    --mdoc-search-toc-selected-page-title-color: #fff;
    --mdoc-search-toc-selected-page-section-color: #fff;
    --mdoc-search-preview-panel-scrollbar-color: var(--mdoc-search-border-color);
    --mdoc-search-preview-result-highlight-background-color: #ddeecc;
    --mdoc-search-preview-result-highlight-color: #444;
    --mdoc-search-popup-input-box-background-color: #3c484e;
    --mdoc-search-popup-input-box-color: var(--mdoc-regular-text-color);

    --mdoc-landing-border-color: var(--mdoc-search-border-color);
    --mdoc-landing-category-color: var(--mdoc-brand-primary-color);
    --mdoc-landing-card-title-border-color: #333;
    --mdoc-landing-card-shadow-color: #444;
    --mdoc-landing-card-text-color: var(--mdoc-regular-text-light-color);
    --mdoc-landing-input-background-color: var(--mdoc-background-color);
    --mdoc-landing-input-placeholder-color: #555;

    --mdoc-snippets-background-color: #181e21;
    --mdoc-snippets-outer-border-color: #29343a;
    --mdoc-snippets-inner-border-color: #404040;
    --mdoc-snippets-title-color: #959595;
    --mdoc-snippets-title-background-color: #151a1d;
    --mdoc-snippets-title-left-border-color: #29343a;
    --mdoc-token-title-color: #dddddd;
    --mdoc-token-param-highlight-color: #ae59c1;
    --mdoc-cli-command-color: #a0aeb5;
    --mdoc-snippets-explanation-background-color: #121619;

    --mdoc-default-code-block-color: #aaa;
    --mdoc-class-color: #bbb;
    --mdoc-function-color: #d07d31;
    --mdoc-keyword-color: #4b7fe7;
    --mdoc-property-color: #9473a6;
    --mdoc-string-color: #678558;
    --mdoc-punctuation-color: #8f9aa7;
    --mdoc-number-color: #6998bc;
    --mdoc-boolean-color: var(--mdoc-number-color);
    --mdoc-highlighted-background-color: rgba(126, 131, 33, 0.3);

    --mdoc-api-key-color: var(--mdoc-section-title-color);
    --mdoc-api-description-color: var(--mdoc-inversed-text-color);

    --mdoc-open-api-method-color: var(--mdoc-toc-page-title-color);
    --mdoc-open-api-path-color: var(--mdoc-toc-page-title-color);
    --mdoc-open-api-path-param-color: var(--mdoc-toc-page-title-color);
    --mdoc-open-api-sub-header-color: var(--mdoc-toc-page-title-color);

    --mdoc-collapse-uncollapse-background-color: #383838;

    --mdoc-table-body-background-color: #1e2529;
    --mdoc-table-header-background-color: #272f33;
    --mdoc-table-border-color: rgb(71, 73, 80);

    --mdoc-horizontal-rule-color: #313131;

    --mdoc-diagram-node-shadow-color: #444;

    color: var(--mdoc-regular-text-color);
    background-color: var(--mdoc-background-color);
}

.theme-mdoc-dark a {
    text-decoration: none;
}

.theme-mdoc-dark .page-two-sides-right-part {
    border-left: 1px solid #444;
    background-color: #161c1f;
}
