<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> 
<title>Znai: Templates</title>
<!--test extension added comment to head-->
<!--test extension added comment to head--><link rel="stylesheet" type="text/css" href="/znai/static/css/katex.min.css">
<link rel="stylesheet" type="text/css" href="/znai/static/main.css">
<link rel="stylesheet" type="text/css" href="/znai/static/css/global-overrides.css">
<link rel="stylesheet" type="text/css" href="/znai/custom.css">
</head>
<link rel="shortcut icon" href="/znai/favicon.png"type="image/ico"/>
<body class="theme-znai-dark">
<script>(function() {
    var themeNameKey = 'znaiTheme';
    var darkThemeName = 'znai-dark';
    var lightThemeName = 'default';

    var znaiTheme = {
        changeHandlers: [],
        addChangeHandler(handler) {
            this.changeHandlers.push(handler);
        },
        removeChangeHandler(handler) {
            var idx = this.changeHandlers.indexOf(handler);
            this.changeHandlers.splice(idx, 1);
        },
        set(name) {
            this.name = name;
            document.body.className = 'theme-' + name;

            var idx = 0;
            var len = this.changeHandlers.length;
            for (; idx < len; idx++) {
                this.changeHandlers[idx](name);
            }
        },
        setExplicitly(name) {
            storeThemeName(name);
            this.set(name);
        },
        setExplicitlyIfNotSetAlready(name) {
            const themeName = getStoredThemeName();
            if (themeName) {
                return
            }

            this.setExplicitly(name)
        },
        toggle() {
            this.setExplicitly(this.name === lightThemeName ? darkThemeName : lightThemeName)
        }
    };

    var mediaThemeName = setLightMatchMediaListenerAndGetThemeName()
    var themeName = getStoredThemeName() || mediaThemeName;
    znaiTheme.set(themeName);

    window.znaiTheme = znaiTheme;

    function getStoredThemeName() {
        return localStorage.getItem(themeNameKey);
    }

    function storeThemeName(name) {
        return localStorage.setItem(themeNameKey, name);
    }

    function setLightMatchMediaListenerAndGetThemeName() {
        if (!window.matchMedia) {
            return darkThemeName;
        }

        var lightQuery = window.matchMedia('(prefers-color-scheme: light)');
        lightQuery.addListener(function (e) {
            const newThemeName = e.matches ? lightThemeName : darkThemeName;
            znaiTheme.setExplicitly(newThemeName);
        });

        return lightQuery.matches ? lightThemeName : darkThemeName;
    }
})()</script>
<div id="znai"><div id="znai-initial-page-loading" style="margin: -20px 0 0 -20px; padding: 0 40px 40px 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center">
    <div></div>
</div><section style="max-width: 640px; margin-left: auto; margin-right: auto;">
<article>
<header><h1>Don't Repeat Yourself</h1></header>
<p>Define templates when you need to reuse the same layout.Suppose you are have to display multiple elements like the following: Name: JohnTitle: Software EngineerCurrent Project: BBRTeam: Team A Name: SathishTitle: Software EngineerCurrent Project: BBRTeam: Team A</p>
</article>

<article>
<header><h1>Definition</h1></header>
<p>Instead of copy and pasting, define a template in a separate file. Znai uses the http://freemarker.org FreeMarker template engine. **Name**: ${name} **Title**: ${title} **Current Project**: BBR **Team**: Team A Insert your template using the fenced block syntax. The content inside the fenced block is treated as key/values. ```template templates/job.md name: Sathish title: Software Engineer ``` The result is rendered below: Name: SathishTitle: Software EngineerCurrent Project: BBRTeam: Team A</p>
</article>

<article>
<header><h1>Inlined</h1></header>
<p>Consider inlined templates if you don't need to pass a lot of parameter text to the template. :include-template: templates/arg-definition.md {name: &quot;Arg Name&quot;, description: &quot;Description of the argument&quot;} :include-template: templates/arg-definition.md {name: &quot;Other Name&quot;, optional: true, description: &quot;Yet another description of the argument&quot;} templates/arg-definition.md ```columns {left: {portion: 3, align: &quot;right&quot;}, border: true} left: **${name}** &lt;#if optional??&gt; \ *optional* &lt;/#if&gt; right: ${description} ``` Arg Name Description of the argument Other Name optional Yet another description of the argument</p>
</article>

<article>
<header><h1>External Parameters</h1></header>
<p>Templates can get parameters from an external file. The file can be either manually created or generated by a script or test.Consider an external JSON file... { &quot;name&quot;: &quot;specified name&quot;, &quot;code&quot;: &quot;class CodeSnippet {\n ...\n}&quot;, &quot;description&quot;: &quot;generated description&quot; } ...and a template like the following: `````columns {left: {align: &quot;right&quot;, portion: 3}, border: true} left: ${name} right: ${description} ```java ${code} ``` ````` You can include a template in your page and make use of parameters from the file: :include-template: templates/test-artifact.md {paramsPath: &quot;artifacts/generated-values.json&quot;} specified name generated description java class CodeSnippet { ... }</p>
</article>

<article>
<header><h1>Loops</h1></header>
<p>You can loop over a list of parameters using http://freemarker.org/docs/ref_directive_list.html FreeMarker loopConsider an external file... {&quot;names&quot;: [ {&quot;name&quot;: &quot;Name 1&quot;, &quot;description&quot;: &quot;Description 1&quot;}, {&quot;name&quot;: &quot;Name 2&quot;, &quot;description&quot;: &quot;Description 2&quot;, &quot;optional&quot;: &quot;true&quot;}, {&quot;name&quot;: &quot;Name 3&quot;, &quot;description&quot;: &quot;Description 3&quot;} ]} ...and this template: &lt;#list names as n&gt; ```columns {left: {portion: 3, align: &quot;right&quot;}, border: true} left: **${n.name}** &lt;#if n.optional??&gt; \ *optional* &lt;/#if&gt; right: ${n.description} ``` &lt;/#list&gt; :include-template: templates/multiple-arg-definition.md {paramsPath: &quot;artifacts/names.json&quot;} Name 1 Description 1 Name 2 optional Description 2 Name 3 Description 3</p>
</article>
</section>
</div>
<!--test extension added comment-->
<script type="text/javascript" src="/znai/toc.js"></script>
<script type="text/javascript" src="/znai/documentation-references.js"></script>
<script type="text/javascript" src="/znai/assets.js"></script>
<script type="text/javascript" src="/znai/static/main.js"></script>
<script type="text/javascript" src="/znai/custom.js"></script>
<script type="text/javascript" src="/znai/search-index.js"></script>
<script>
document.getElementById('znai').innerHTML = '';
ReactDOM.render(React.createElement(Documentation, {
  "docMeta" : {
    "viewOn" : {
      "link" : "https://github.com/testingisdocumenting/znai/blob/master/znai-docs/znai",
      "title" : "View On GitHub"
    },
    "description" : "Transforms Markdown files into rich, well-structured documentation served in a modern web front-end. Znai provides many custom add-ons that supercharge basic generated docs with advanced layout features, dynamic references to code and test artifacts, and many visual and functional enhancements.",
    "id" : "znai",
    "title" : "Znai",
    "type" : "User Guide",
    "category" : "Documentation",
    "previewEnabled" : false,
    "support" : {
      "link" : "https://github.com/testingisdocumenting/znai/issues"
    }
  },
  "page" : {
    "type" : "Page",
    "content" : [ {
      "title" : "Don't Repeat Yourself",
      "id" : "dont-repeat-yourself",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Define templates when you need to reuse the same layout.",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Suppose you are have to display multiple elements like the following:",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Name",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": John",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Title",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Software Engineer",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Current Project",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": BBR",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Team",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Team A",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "type" : "HardLineBreak"
        }, {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Name",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Sathish",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Title",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Software Engineer",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Current Project",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": BBR",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Team",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Team A",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Definition",
      "id" : "definition",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Instead of copy and pasting, define a template in a separate file.",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "code" : "Znai",
          "type" : "InlinedCode"
        }, {
          "text" : " uses the ",
          "type" : "SimpleText"
        }, {
          "url" : "http://freemarker.org",
          "isFile" : false,
          "type" : "Link",
          "content" : [ {
            "text" : "FreeMarker",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : " template engine.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "md",
        "snippet" : "**Name**: ${name}\n\n**Title**: ${title}\n\n**Current Project**: BBR\n \n**Team**: Team A",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Insert your template using the fenced block syntax. The content inside the fenced block is treated as key/values.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : "```template templates/job.md\nname: Sathish\ntitle: Software Engineer\n```\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "The result is rendered below:",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Name",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ":  Sathish",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Title",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ":  Software Engineer",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Current Project",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": BBR",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "StrongEmphasis",
          "content" : [ {
            "text" : "Team",
            "type" : "SimpleText"
          } ]
        }, {
          "text" : ": Team A",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "title" : "Inlined",
      "id" : "inlined",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Consider inlined templates if you don't need to pass a lot of parameter text to the template.",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-template: templates/arg-definition.md {name: \"Arg Name\", description: \"Description of the argument\"}\n\n:include-template: templates/arg-definition.md {name: \"Other Name\", optional: true, description: \"Yet another description of the argument\"}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "type" : "Emphasis",
          "content" : [ {
            "text" : "templates/arg-definition.md",
            "type" : "SimpleText"
          } ]
        } ]
      }, {
        "lang" : "md",
        "snippet" : "```columns {left: {portion: 3, align: \"right\"}, border: true}\nleft: **${name}**\n<#if optional??>\n\\\n*optional*\n</#if>\nright: ${description}\n```",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Arg Name",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Description of the argument",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "left" : {
            "portion" : 3,
            "align" : "right"
          },
          "border" : true
        },
        "type" : "Columns"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Other Name",
                "type" : "SimpleText"
              } ]
            }, {
              "type" : "SoftLineBreak"
            }, {
              "type" : "HardLineBreak"
            }, {
              "type" : "Emphasis",
              "content" : [ {
                "text" : "optional",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Yet another description of the argument",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "left" : {
            "portion" : 3,
            "align" : "right"
          },
          "border" : true
        },
        "type" : "Columns"
      } ]
    }, {
      "title" : "External Parameters",
      "id" : "external-parameters",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Templates can get parameters from an external file.",
          "type" : "SimpleText"
        }, {
          "type" : "SoftLineBreak"
        }, {
          "text" : "The file can be either manually created or generated by a script or test.",
          "type" : "SimpleText"
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Consider an external ",
          "type" : "SimpleText"
        }, {
          "code" : "JSON",
          "type" : "InlinedCode"
        }, {
          "text" : " file...",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "json",
        "snippet" : "{\n  \"name\": \"specified name\",\n  \"code\": \"class CodeSnippet {\\n    ...\\n}\",\n  \"description\": \"generated description\"\n}",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "...and a template like the following:",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "md",
        "snippet" : "`````columns {left: {align: \"right\", portion: 3}, border: true}\nleft: ${name}\nright: ${description}\n\n```java\n${code}\n```\n\n`````",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "You can include a template in your page and make use of parameters from the file:",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "",
        "snippet" : ":include-template: templates/test-artifact.md {paramsPath: \"artifacts/generated-values.json\"}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "specified name",
              "type" : "SimpleText"
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "generated description",
              "type" : "SimpleText"
            } ]
          }, {
            "lang" : "java",
            "snippet" : "class CodeSnippet {\n    ...\n}\n",
            "lineNumber" : "",
            "type" : "Snippet"
          } ]
        } ],
        "config" : {
          "left" : {
            "align" : "right",
            "portion" : 3
          },
          "border" : true
        },
        "type" : "Columns"
      } ]
    }, {
      "title" : "Loops",
      "id" : "loops",
      "type" : "Section",
      "content" : [ {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "You can loop over a list of parameters using ",
          "type" : "SimpleText"
        }, {
          "url" : "http://freemarker.org/docs/ref_directive_list.html",
          "isFile" : false,
          "type" : "Link",
          "content" : [ {
            "text" : "FreeMarker loop",
            "type" : "SimpleText"
          } ]
        } ]
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "Consider an external file...",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "json",
        "snippet" : "{\"names\": [\n  {\"name\": \"Name 1\", \"description\": \"Description 1\"},\n  {\"name\": \"Name 2\", \"description\": \"Description 2\", \"optional\": \"true\"},\n  {\"name\": \"Name 3\", \"description\": \"Description 3\"}\n]}",
        "type" : "Snippet"
      }, {
        "type" : "Paragraph",
        "content" : [ {
          "text" : "...and this template:",
          "type" : "SimpleText"
        } ]
      }, {
        "lang" : "md",
        "snippet" : "<#list names as n>\n```columns {left: {portion: 3, align: \"right\"}, border: true}\nleft: **${n.name}**\n<#if n.optional??>\n\\\n*optional*\n</#if>\nright: ${n.description}\n```\n</#list>",
        "type" : "Snippet"
      }, {
        "lang" : "",
        "snippet" : ":include-template: templates/multiple-arg-definition.md {paramsPath: \"artifacts/names.json\"}\n",
        "lineNumber" : "",
        "type" : "Snippet"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Name 1",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Description 1",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "left" : {
            "portion" : 3,
            "align" : "right"
          },
          "border" : true
        },
        "type" : "Columns"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Name 2",
                "type" : "SimpleText"
              } ]
            }, {
              "type" : "SoftLineBreak"
            }, {
              "type" : "HardLineBreak"
            }, {
              "type" : "Emphasis",
              "content" : [ {
                "text" : "optional",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Description 2",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "left" : {
            "portion" : 3,
            "align" : "right"
          },
          "border" : true
        },
        "type" : "Columns"
      }, {
        "columns" : [ {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "type" : "StrongEmphasis",
              "content" : [ {
                "text" : "Name 3",
                "type" : "SimpleText"
              } ]
            } ]
          } ]
        }, {
          "content" : [ {
            "type" : "Paragraph",
            "content" : [ {
              "text" : "Description 3",
              "type" : "SimpleText"
            } ]
          } ]
        } ],
        "config" : {
          "left" : {
            "portion" : 3,
            "align" : "right"
          },
          "border" : true
        },
        "type" : "Columns"
      } ]
    } ],
    "lastModifiedTime" : 1594782673828,
    "tocItem" : {
      "sectionTitle" : "Layout",
      "pageTitle" : "Templates",
      "pageMeta" : { },
      "dirName" : "layout",
      "fileName" : "templates",
      "viewOnRelativePath" : null,
      "pageSectionIdTitles" : [ {
        "title" : "Don't Repeat Yourself",
        "id" : "dont-repeat-yourself"
      }, {
        "title" : "Definition",
        "id" : "definition"
      }, {
        "title" : "Inlined",
        "id" : "inlined"
      }, {
        "title" : "External Parameters",
        "id" : "external-parameters"
      }, {
        "title" : "Loops",
        "id" : "loops"
      } ]
    }
  },
  "footer" : {
    "type" : "Footer",
    "content" : [ {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "If you have documentation suggestions, features or bugs to report, please create ",
        "type" : "SimpleText"
      }, {
        "url" : "https://github.com/testingisdocumenting/znai/issues",
        "isFile" : false,
        "type" : "Link",
        "content" : [ {
          "text" : "GitHub Issue",
          "type" : "SimpleText"
        } ]
      } ]
    }, {
      "type" : "Paragraph",
      "content" : [ {
        "text" : "Contributions are welcome",
        "type" : "SimpleText"
      } ]
    } ]
  }
}), document.getElementById("znai"));
</script>

</body>
</html>
