.page-two-sides-layout {
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
}

.page-two-sides-left-part,
.page-two-sides-right-part {
    padding-left: var(--mdoc-two-sides-horizontal-spacing);
    padding-right: var(--mdoc-two-sides-horizontal-spacing);
}

.page-two-sides-right-part {
    --mdoc-regular-text-color: var(--mdoc-inversed-text-color);
    --mdoc-regular-text-light-color: #aaa;

    --mdoc-snippets-outer-border-color: #5e5e5e;
    --mdoc-snippets-inner-border-color: #404040;
    --mdoc-snippets-title-color: #818181;

    --mdoc-default-code-block-color: #aaa;
    --mdoc-class-color: #bbb;
    --mdoc-function-color: #d07d31;
    --mdoc-keyword-color: #4b7fe7;
    --mdoc-property-color: #9473a6;
    --mdoc-string-color: #678558;
    --mdoc-punctuation-color: #8f9aa7;
    --mdoc-number-color: #6998bc;
    --mdoc-highlighted-background-color: #714738;
    --mdoc-highlighted-color: #a6a6a6;

    color: var(--mdoc-regular-text-color);
    background-color: var(--mdoc-inversed-background-color);
    border-left: solid 1px #5b666c;
}