.page-two-sides-layout {
    display: grid;
    grid-template-columns: minmax(350px, 7fr) minmax(400px, 8fr);
}

.page-two-side-left-part,
.page-two-side-right-part {
    padding-left: 30px;
    padding-right: 30px;
}

.page-two-side-right-part {
    color: var(--mdoc-inversed-text-color);
    background-color: var(--mdoc-inversed-background-color);

    --mdoc-function-color: #a15b38;
    --mdoc-keyword-color: #477fe7;
    --mdoc-property-color: #9473a6;
    --mdoc-string-color: #678558;
    --mdoc-punctuation-color: #aab8c7;
    --mdoc-number-color: #6998bc;
    --mdoc-highlighted-background-color: #714738;
    --mdoc-highlighted-color: #a6a6a6;
}