.two-sides-prev-navigation-button,
.two-sides-next-navigation-button {
    margin-top: var(--mdoc-space-above-next-prev-navigation);
    margin-bottom: var(--mdoc-space-below-next-prev-navigation);
}

.two-sides-prev-navigation-button {
    margin-left: calc(var(--mdoc-space-left-next-prev-navigation) - var(--mdoc-two-sides-horizontal-spacing));
}

.two-sides-next-navigation-button {
    margin-right: calc(var(--mdoc-space-right-next-prev-navigation) - var(--mdoc-two-sides-horizontal-spacing));
    text-align: right;
}