.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.presentation .slide-number {
    position: fixed;
    bottom: 10px;
    align-self: center;
}

.presentation .slide-area {
    margin-left: auto;
    margin-right: auto;
}

.presentation-close-icon {
    position: fixed;
    font-size: 14px;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.presentation .content-block {
    width: auto;
}

.presentation .snippet,
.presentation .json,
.presentation .latex-math {
    border: none;
}

h1.presentation-title {
    font-size: 50px;
}