.presentation {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.presentation .header {
    flex: 0 0 50px;
    display: flex;
    justify-content: space-between;
}

.presentation .footer {
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
}

.presentation .slide-area {
    display: flex;
    height: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.presentation-close-icon {
    font-size: 14px;
    margin: 10px;
    cursor: pointer;
}

.presentation .content-block {
    width: auto;
    margin: 0;
}

.presentation .paragraph {
    margin: 0;
}

.presentation .snippet,
.presentation .json,
.presentation .latex-math {
    border: none;
}

h1.presentation-title {
    font-size: 50px;
}