.presentation {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

/*.presentation .paragraph.content-block {*/
    /*padding-right: 0;*/
/*}*/

.presentation .header {
    display: flex;
    flex: 0 0 80px;
}

.presentation .header .product-info {
    display: flex;
    align-items: center;
    background-color: #383b3f;
    flex: 0 0 280px;
    color: #e7e7e7;
}

.presentation .header .product-info .product-title {
    display: flex;
    align-items: center;
    background-color: #383b3f;
    flex: 0 0 280px;
    margin-left: 10px;
    font-size: 22px;
    padding: 10px;
    color: #e7e7e7;
}

.presentation .header .product-info img {
    margin-left: 10px;
}

.presentation .header .slide-info {
    display: flex;
    align-items: center;
    background-color: #4b4f54;
    color: #fff;
    font-size: 26px;
    flex: 1;
    padding-left: 30px;
}

.presentation .header .slide-info .divider {
    margin: 0 20px;
    color: #999;
}

.presentation .header .slide-info .page-title {
}

.presentation .header .controls {
    display: flex;
    flex: 0 0 80px;
    align-items: center;
    justify-content: space-between;
    color: #e7e7e7;
    background-color: #4b4f54;
}

.presentation .header .controls .close {
    color: #fff;
    font-size: 14px;
    margin: 20px;
    cursor: pointer;
}

.presentation .header .info .page-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 100px;
    color: #555;
}

.presentation .header .info .section-title {
    margin-left: 100px;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #555;
}

.presentation .footer {
    flex: 0 0 50px;
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    color: #e7e7e7;
    background-color: #383b3f;
}

.presentation .footer.size-only {
    background: none;
}

.presentation .slide-area {
    display: flex;
    height: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.presentation .slide-area.full-screen {
    flex: 1;
    justify-content: flex-start;
    align-items: stretch;
}

.presentation .content-block {
    width: auto;
    margin: 0;
}

.presentation .paragraph {
    margin: 0;
}

.presentation .snippet,
.presentation .json,
.presentation .latex-math {
    border: none;
}

h1.presentation-title {
    font-size: 50px;
}