name: Build znai

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Set up grahpviz
        run: sudo apt-get install graphviz

      - name: Build with xvfb enabled
        uses: GabrielBB/xvfb-action@v1.7
        with:
          run: mvn -B package

      - name: upload webtau test report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: webtau report
          path: znai-tests/src/test/groovy/webtau.report.html
          retention-days: 3
      - name: upload testing examples webtau test report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: webtau testing examples report
          path: znai-testing-examples/examples/webtau.report.html
          retention-days: 3
      - name: upload screenshots when build fails
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: doc screenshots
          path: znai-testing-examples/**/*.png
          retention-days: 3
