.json .delimiter {
    color: #888;
    display: inline;
}

.json.simple.highlighted {
    color: white;
    background: #3080b9;
    padding: 3px;
    border-radius: 3px;
}

.json.object>.entry>.key:after {
    content: ': ';
}

.json.object>.entry>.key {
    color: #009aa6
}

.json.object .json.object {
    margin-left: 10px;
}

.json.object>.entry>.value>.json.array {
    /*display: table-cell;*/
}

.json.object .entry {
    display: flex;
}

.json.array {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.json.array>.json.object {
    margin-left: 0;
    display: flex;
}

.json.object .json.array {
    display: flex;
}

.json.array > .json.object ~ .delimiter {
    width: 100%;
}

.json.array > .json.object ~ .delimiter {
}

.json.array>.json.object:last-child:after {
    border: none;
    content: '';
    display: flex;
}

.json.array>.json.object:first-child>.entry:first-child>.key:before {
    content: '[';
    color: #d0d0d0;
    font-weight: normal;
}

.json.array>.json.object:last-child>.entry:last-child>.value:after {
    content: ']';
    color: #d0d0d0;
    font-weight: normal;
}
